{% for talk in site.data.tracks[track] %}
    {% include partials/wip-link.html %}
    {% if track == "day1" or track == "day2" or track == "day3" %} {% assign link = false %} {% else %} {% assign link = true %} {% endif %}

    {% assign escape = talk.title %}
    {% include partials/escape-link.html %}
    {% assign escapedTalkTitle = escaped %}

    <div class="track {{track}} cell-content" time-start="{{talk.time.start}}" time-finish="{{talk.time.finish}}" room="{{talk.room}}">
        {% if roomsLayout and link %}
            <a class="{{wipClass}} talk-cell-wrap" href="/track/{{track}}/#{{escapedTalkTitle}}">
        {% else %}
            <div class="talk-cell-wrap">
        {% endif %}

        <p class="speakers"> 
            {% assign firstSpeaker = true %}
            {% for speaker in talk.speakers %}
                {% for s in site.data.people %}
                    {% if speaker == s.name %}
                        {% if firstSpeaker  %}
                        {% else %}
                            {% if talk.speakers.size == 2 %}and{% endif %}
                            {% if talk.speakers.size > 2 %},{% endif %}
                        {% endif %}                    
                        <span="speker-name">
                        {% if talk.speakers.size == 1 %}
                            {{ s.name }}</span><span class="studio">, {{ s.affiliation.name }}</span>
                        {% else %}
                            {{ s.name }}</span>
                        {% endif %}
                        {% assign firstSpeaker = false %}
                    {% endif %} 
                {% endfor %}
            {% endfor %}
        </p>
        <p class="title">

        {% if roomsLayout %}
        {% else %}
        <a class="{{wipClass}}" href="/track/{{track}}/#{{escapedTalkTitle}}">
            {{talk.time.start}}
        {% endif %}
        {{talk.title}}
             {% if roomsLayout %}
        {% else %}
        </a>
        {% endif %}
        {% if roomsLayout %}
        {% else %}
            <span class="room"> 
                {% for room in site.data.rooms %}
                    {% if room.id == talk.room %}
                        ({{room.name}})
                    {% endif %}
                {% endfor %}
            </span>
        {% endif %}

        </p>

        {% if roomsLayout %}
            </a>
        {% else %}
            </div>
        {% endif %}
    </div>

{% endfor %}