{% for talk in site.data.tracks[track] %}
    <div class="track {{track}}" time-start="{{talk.time.start}}" time-finish="{{talk.time.finish}}" room="{{talk.room}}">
        <div class="talk-cell-wrap">
        <p class="speakers"> 
            {% assign firstSpeaker = true %}
            {% for speaker in talk.speakers %}
                {% for s in site.data.people %}
                    {% if speaker == s.name %}
                        <span="speker-name">
                        {% if firstSpeaker  %}
                        {% else %}
                            and
                        {% endif %}
                        {{ s.name }}</span><span class="studio">, {{ s.affiliation.name }}</span>
                        {% assign firstSpeaker = false %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </p>
        <p class="title"><a href="/track/{{track}}/#{{talk.title| replace:':','-' | replace:'&','and' | escape | replace:' ','-' | downcase}}">
        {% if printTime %}
            {{talk.time.start}}
        {% endif %}
        {{talk.title}}</a></p>
        </div>
    </div>
{% endfor %}