{% for talk in site.data.tracks[track] %}
    <div class="track {{track}} cell-content" time-start="{{talk.time.start}}" time-finish="{{talk.time.finish}}" room="{{talk.room}}">

        {% if roomsLayout %}
            <a class="talk-cell-wrap" href="/track/{{track}}/#{{talk.title| replace:':','-' | replace:'&','and' | escape | replace:' ','-' | downcase}}">
        {% else %}
            <div class="talk-cell-wrap">
        {% endif %}

        <p class="speakers"> 
            {% assign firstSpeaker = true %}
            {% for speaker in talk.speakers %}
                {% for s in site.data.people %}
                    {% if speaker == s.name %}
                        {% if firstSpeaker  %}
                        {% else %}
                            {% if talk.speakers.size == 2 %}and{% endif %}
                            {% if talk.speakers.size > 2 %},{% endif %}
                        {% endif %}                    
                        <span="speker-name">
                        {% if talk.speakers.size == 1 %}
                            {{ s.name }}</span><span class="studio">, {{ s.affiliation.name }}</span>
                        {% else %}
                            {{ s.name }}</span>
                        {% endif %}
                        {% assign firstSpeaker = false %}
                    {% endif %} 
                {% endfor %}
            {% endfor %}
        </p>
        <p class="title">

        {% if roomsLayout %}
        {% else %}
        <a href="/track/{{track}}/#{{talk.title| replace:':','-' | replace:'&','and' | escape | replace:' ','-' | downcase}}">
            {{talk.time.start}}
        {% endif %}
        {{talk.title}}
             {% if roomsLayout %}
        {% else %}
        </a>
        {% endif %}
        {% if roomsLayout %}
        {% else %}
            <span class="room"> 
                {% for room in site.data.rooms %}
                    {% if room.id == talk.room %}
                        ({{room.name}})
                    {% endif %}
                {% endfor %}
            </span>
        {% endif %}

        </p>

        {% if roomsLayout %}
            </a>
        {% else %}
            </div>
        {% endif %}

    </div>
{% endfor %}