@import (once) "globals";
@import (once) "colors";
@import (once) "sections";

section.about {
    titlebar {
        .centered-flex();
        min-height: calc(100vh / 3);
        padding-left: @SECTION_PADDING_HORIZONTAL;
        h2 {
            font-size: 30pt;
            transition: all 0.1s;
            &:hover {
                font-size: 33pt;
                cursor: pointer;
            }
        }
    }
    content {
        padding: 0 0 @SECTION_PADDING_VERICAL 0;
        item {
            display: block;
            float: left;
            &.about {
                width: 2 * @THIRDS - 2 * @SECTION_PADDING_HORIZONTAL;
            }
            &.newsletter {
                width: @THIRDS - 2 * @SECTION_PADDING_HORIZONTAL;
            }
        }
    }
}