section.about {
    titlebar {
        .centered-flex();
        min-height: calc(100vh / 3);
        padding-left: @SECTION_PADDING_HORIZONTAL;
        background: none;
        h2 {
            text-align: left
        }
    }
    content {
        padding: 0 0 @SECTION_PADDING_VERICAL 0;
        item {
            float: left;
        }
    }
}