section.about {
    content {
        padding: @SECTION_PADDING_VERICAL 0;

        item {
            float: left;
        }

        &.headline {
            .centered-flex();

            // min-height: calc(100vh / 3);
            padding-left: @SECTION_PADDING_HORIZONTAL;
            background: none;

            h2 {
                font-size: 36px;
                text-align: center;
                line-height: 125%;
            }
            h3 {
                font-size: 24px;
                text-align: center;
                font-weight: normal;
                opacity: 0.75;
                line-height: 125%;
            }
        }
    }
}