html,
body {
  padding: 0;
  margin: 0;
  font-family: "Questrial", Questrial, sans-serif;
  color: white;
}
content,
.content {
  width: 978px;
  margin: auto;
  display: block;
}
.invisible {
  height: 0px;
}
.transparent {
  visibility: hidden;
}
.opacity0 {
  opacity: 0;
}
section {
  width: 100%;
  min-height: calc(100vh - 50px);
  overflow: hidden;
}
section:nth-child(even) {
  background-color: #283f69;
}
section:nth-child(odd) {
  background-color: #333333;
}
section item {
  padding: 0 15px;
}
section item p:first-child {
  font-weight: bold;
  display: inline-block;
  min-height: 30px;
}
section.about titlebar {
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  min-height: calc(33.33333333vh);
  padding-left: 15px;
}
section.about content {
  min-height: calc(66.66666667vh);
}
section.about content item {
  display: block;
  float: left;
}
section.about content item.about {
  width: 622px;
}
section.about content item.newsletter {
  width: 296px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Questrial", Questrial, sans-serif;
  color: white;
}
content,
.content {
  width: 978px;
  margin: auto;
  display: block;
}
.invisible {
  height: 0px;
}
.transparent {
  visibility: hidden;
}
.opacity0 {
  opacity: 0;
}
section {
  width: 100%;
  min-height: calc(100vh - 50px);
  overflow: hidden;
}
section:nth-child(even) {
  background-color: #283f69;
}
section:nth-child(odd) {
  background-color: #333333;
}
section item {
  padding: 0 15px;
}
section item p:first-child {
  font-weight: bold;
  display: inline-block;
  min-height: 30px;
}
header {
  display: block;
  height: 50px;
  position: fixed;
  z-index: 3;
  width: 100%;
  line-height: 50px;
  background-color: #333333;
  text-align: center;
  -webkit-animation-duration: 5s;
}
header content a {
  display: block;
  float: left;
  font-size: 11px;
  width: calc(139.71428571px);
}
header content a.nuclAi-go-top {
  -webkit-animation-duration: 0.25s;
}
header content a.visible {
  background-color: #6409a5;
}
section.splash-screen {
  min-height: calc(68.66666667vh);
  background: url("/img/audience.jpg") center;
  background-size: cover;
}
section.splash-screen splash {
  background-color: rgba(40, 63, 105, 0.4);
  min-height: inherit;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}
section.splash-screen splash content {
  text-align: center;
  padding: 35px 0;
}
section.splash-screen navigation {
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  background-color: #333333;
  width: 100%;
  position: absolute;
  z-index: 5;
}
section.splash-screen navigation content {
  display: block;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
}
section.splash-screen navigation content a {
  display: block;
  width: calc(163px);
  float: left;
}
section.splash-screen navigation content a.nuclAi-go-top {
  display: none;
}
section.about titlebar {
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  min-height: calc(33.33333333vh);
  padding-left: 15px;
}
section.about content {
  min-height: calc(66.66666667vh);
}
section.about content item {
  display: block;
  float: left;
}
section.about content item.about {
  width: 622px;
}
section.about content item.newsletter {
  width: 296px;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Questrial", Questrial, sans-serif;
  color: white;
}
content,
.content {
  width: 978px;
  margin: auto;
  display: block;
}
.invisible {
  height: 0px;
}
.transparent {
  visibility: hidden;
}
.opacity0 {
  opacity: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Questrial", Questrial, sans-serif;
  color: white;
}
content,
.content {
  width: 978px;
  margin: auto;
  display: block;
}
.invisible {
  height: 0px;
}
.transparent {
  visibility: hidden;
}
.opacity0 {
  opacity: 0;
}
header {
  display: block;
  height: 50px;
  position: fixed;
  z-index: 3;
  width: 100%;
  line-height: 50px;
  background-color: #333333;
  text-align: center;
  -webkit-animation-duration: 5s;
}
header content a {
  display: block;
  float: left;
  font-size: 11px;
  width: calc(139.71428571px);
}
header content a.nuclAi-go-top {
  -webkit-animation-duration: 0.25s;
}
header content a.visible {
  background-color: #6409a5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Questrial", Questrial, sans-serif;
  color: white;
}
content,
.content {
  width: 978px;
  margin: auto;
  display: block;
}
.invisible {
  height: 0px;
}
.transparent {
  visibility: hidden;
}
.opacity0 {
  opacity: 0;
}
section {
  width: 100%;
  min-height: calc(100vh - 50px);
  overflow: hidden;
}
section:nth-child(even) {
  background-color: #283f69;
}
section:nth-child(odd) {
  background-color: #333333;
}
section item {
  padding: 0 15px;
}
section item p:first-child {
  font-weight: bold;
  display: inline-block;
  min-height: 30px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Questrial", Questrial, sans-serif;
  color: white;
}
content,
.content {
  width: 978px;
  margin: auto;
  display: block;
}
.invisible {
  height: 0px;
}
.transparent {
  visibility: hidden;
}
.opacity0 {
  opacity: 0;
}
section.splash-screen {
  min-height: calc(68.66666667vh);
  background: url("/img/audience.jpg") center;
  background-size: cover;
}
section.splash-screen splash {
  background-color: rgba(40, 63, 105, 0.4);
  min-height: inherit;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}
section.splash-screen splash content {
  text-align: center;
  padding: 35px 0;
}
section.splash-screen navigation {
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  background-color: #333333;
  width: 100%;
  position: absolute;
  z-index: 5;
}
section.splash-screen navigation content {
  display: block;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
}
section.splash-screen navigation content a {
  display: block;
  width: calc(163px);
  float: left;
}
section.splash-screen navigation content a.nuclAi-go-top {
  display: none;
}
