footer {
    display: block;
    background-color: darken(@DARK_GREY, 5%);
    color: #c0c0c0;

    width: 100%;
    min-height: @FOOTER_HEIGHT;

    * {
        display: block;
        text-align: center;
    }

    content {
        links {
            a {
                opacity: 0.5;
                color: @LIGHT_GREY;
                cursor: pointer;
                display: inline-block;
                margin-right: 125px;
                line-height: 60px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        icons {
            padding: 10px 0;
            // This must be removed once links become avaialble
            padding-top: 25px;
            icon-wrap {
                display: inline-block;
                width: 30px;
                a.social {
                }
            }
        }
    }
}
