footer {
    display: block;
    background-color: darken(@DARK_GREY, 5%);
    color: #c0c0c0;

    width: 100%;
    min-height: 150px;

    * {
        display: block;
        text-align: center;
    }

    content {
        links {
            a {
                opacity: 0.5;
                color: @LIGHT_GREY;
                cursor: pointer;
                display: inline-block;
                margin-right: 125px;
                line-height: 60px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        icons {
            padding: 10px 0;
            // This must be removed once links become avaialble
            padding-top: 30px;
            a.social {
                margin: -5px; //for scalling originally is -15, here leave 10px margin which means -5px
            }
        }

        copyrights {
                line-height: 60px;
        }
    }
}
