footer {
    display: block;
    background-color: darken(@DARK_GREY, 5%);
    color: #c0c0c0;
    width: 100%;
    height: @FOOTER_HEIGHT;
    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
        height: @FOOTER_HEIGHT_MOBILE;
    }
    * {
        display: block;
        text-align: center;
    }

    content {
        links {
            a {
                &.disabled { 
                    opacity: 0.3;
                    cursor: default;
                };
                color: @LIGHT_GREY;
                cursor: pointer;
                display: inline-block;
                margin-right: 125px;
                text-decoration: none;
                line-height: 40px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        icons {
            padding: 20px 0;
            padding-bottom: 17px;
            display: inline-block;
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                padding-top: 10px;
            }
            a.social {
                margin: 0 5px;
            }
        }

        .copyrights {
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                margin: 0;
                font-size: 0.6em;
            }
        }
    }
}