@HEADER_HEIGHT: 50px;
@FOOTER_HEIGHT: 150px;

// semantic grid widht
@total-width: 100%;
@PAGE_WIDHT: @total-width;
@PAGE_MAX_WIDTH: @gridsystem-width;

//consts
@SMARTPHONE_MAX_PORTRAIT: 432px; //should cover iphone 6 and galaxy s5 toos

//page layout
@PAGE_FIRST_SECTION_HEIGHT: 100vh - 100vh / 4;
@NAVIGATION_HEIGHT: 60px;

@GRADIENT_GREY: inset 0 -85px 50px -50px rgba(241, 240, 239, 0.12);

//setting up defaults
html, body {
    padding: 0;
    margin: 0;
    font-family: "Questrial", Questrial, sans-serif;
    color: white;
}

body:after, body:before {}

h2 {
    text-align: center;
    font-size: 36px;
    margin: 0;
    padding: 0.8em 0;
}

.opacity0 {
    opacity: 0;
}


.rotate(@angle) {
    -ms-transform: rotate(@angle); /* IE 9 */
    -webkit-transform: rotate(@angle); /* Chrome, Safari, Opera */
    transform: rotate(@angle);
}

.transform(@trans) {
    -ms-transform: @trans; /* IE 9 */
    -webkit-transform: @trans; /* Chrome, Safari, Opera */
    transform: @trans;
}

.columns(@columns, @gap) {
    -webkit-column-count: @columns; /* Chrome, Safari, Opera */
    -moz-column-count: @columns; /* Firefox */
    column-count: @columns;
    -webkit-column-gap: @gap; /* Chrome, Safari, Opera */
    -moz-column-gap: @gap; /* Firefox */
    column-gap: @gap;
}

.border-radius(@radius) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

.filter(@filter) {
    -webkit-filter: @filter;
    filter: @filter;
}

.animation-duration(@duration) {
    -webkit-animation-duration: @duration; /* Chrome, Safari, Opera */
    animation-duration: @duration;
}

.transition(@trans) {
    -webkit-transition: @trans; /* For Safari 3.1 to 6.0 */
    transition: @trans;
}
/** 
/* social media 
*/
 a.social {
    width: 60px; 
    height: 60px; 
    display: inline-block; 
    .transform(scale(0.5));
    margin: -15px; //because of the transform
    &.twitter {
        background-position: 120px 0px;
        &:hover {
            background-position: 120px 60px;
        }
    }
    &.google {
        &:hover {
            background-position: 0px 60px;
        }
    }
    &.facebook {
        background-position: 60px 0px;
        &:hover {
            background-position: 60px 60px;
        }
    }
}

.anchor {
    display: block;
    margin-top: -(@NAVIGATION_HEIGHT);
    height: @NAVIGATION_HEIGHT;
}

// forms
// @TODO: use better semantic-ui

@INPUT_FIELD_HORIZONTAL_PADDING: 10px;

form {
    .fieldgroup {
        padding-bottom: 10px;
    }
    input {
        border: none;
        outline: none;
        &[type="text"], &[type="email"] {
            padding: 5px @INPUT_FIELD_HORIZONTAL_PADDING;
            font-size: 11pt;
        }
        &[type="button"], &[type="submit"] {
            padding: 15px 30px;
            font-size: 11pt;
            background-color: @ORANGE;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

orange, .orange {
    color: @ORANGE;
}

icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
}

div.table {
    min-height: inherit;
    display: table;
    margin: auto;
}

div.centered-cell {
    min-height: inherit;
    display: table-cell;
    vertical-align: middle;
}