section#section-lobby {
    background-color: transparent;
    height: 100%;
    table, .cell-content { background-color: transparent !important; }
    .break.table { margin: 0; }
    .break { display: none !important; }
    table { background-color: fade(@BLUE, 80%) !important; }
}