section#section-lobby.lobby-talk-bckg {
    background-color: transparent;
    .slide-logo {
        display: none
    }
    p.speakers {
        background-color: transparent;
        border-top: none;
        height: 150px;
        top: 930px;
        font-size: 1.2em;
        opacity: 0.7;
        .names-wrap {
            text-align: left;
            padding-left: 6%;
            &.for-4-speakers {  }
            &.for-3-speakers {  }
            &.for-2-speakers {  }
            &.for-1-speakers {  }
            span.speaker-name {
                display: inline;
            }
        }
    }
    .nuclai-title-wrap {
        display: none;
    }
    p.title {
        opacity: 0.8;
        background-color: transparent;
        display: block;
        height: 150px;
        font-size: 1.8em;
        font-weight: normal;
        a { 
            width: 1920px;
            span {
                padding: 0px;
                margin: 0px;
                max-width: 100%;
                float: none;
                text-align: center;
            }
        }
    }
}