section#section-lobby {
    background-color: transparent;
    height: 100%;
    table, .cell-content { background-color: transparent !important; }
    .break.table { margin: 0; }
    .break { display: none !important; }
    table { background-color: fade(@BLUE, 80%) !important; }
    .track { color: @WHITE !important; }
    .track {font-size: 1.5em; }
    table { 
        position: absolute; 
        bottom: 50px; 
        left: 50px;
        width: calc(~"100% - 100px");
    }
}