@lobby_orange: #ffad3d;
@lobby_blue: #195183;
@lobby_dark_blue: #0d3457;

@right_margin: 7%;
@text_width: 55%;

section#section-lobby.lobby-blue {
    background-color: @lobby_blue;
    .sponsors-list { display: none; }
    table { 
        background-color: transparent !important; 
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
    }
    .sponsors-list {
        div.day {
            background-color: transparent !important;
        }
    }
    .slide-logo {
        position: absolute;
        top: 610px;
        z-index: 10;
        width: 230px;
        height: 230px;
        background-position: center center;
        background-size: cover;
        left: 10%;
    }
    .nuclai-title-wrap {
        position: absolute;
        bottom: 0px;
        z-index: 10;
        left: 11.5%;
        color: @lobby_blue;
        font-size: 3.5em;
        font-weight: bold;
        height: 360px;
        vertical-align: middle;
        margin: 0;
        display: table;
        .nuclai-title {
            display: table-cell;
            height: inherit;
            vertical-align: middle;
        }
    }
    p.speakers {
        background-color: @lobby_dark_blue;
        display: block;
        height: 360px;
        display: table;
        margin: 0;
        position: absolute;
        top: 720px;
        left: 0;
        opacity: 1;
        width: 100%;
        text-align: right;
        font-size: 2em;
        border-top: 10px solid @lobby_orange;
        box-sizing: border-box;
        font-weight: bold;
        .names-wrap { 
            color: @lobby_orange;
            display: table-cell;
            vertical-align: middle;
            height: inherit;
            text-align: right;
            max-width: @text_width;
            padding-right: @right_margin;
        }
        span {
            &.studio { display: none; }
        }
    }
    p.title {
        background-color: @lobby_blue;
        display: block;
        height: 720px;
        display: table;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        width: 100%;
        text-align: right;
        font-size: 2.5em;
        a {
            display: table-cell;
            vertical-align: middle;
            height: inherit;
            color: @WHITE;
            &:hover {
                color: @WHITE;
            }
            span {
                padding-top: 10%;
                max-width: @text_width;
                display: block;
                float: right;
                padding-right: @right_margin;
                &.time {
                    display: none;
                }
            }
        }
        .room {
            display: none;
        }
    }
}