@LOGO_NAV_MARGIN: 5px;
@MENU_TRANSITION: 0.6s;

sections {
    section.navigation {
        min-height: @NAVIGATION_HEIGHT;
        height: @NAVIGATION_HEIGHT;
        background-color: @BLUE;
        z-index: 3;
        width: 100%;
        position: absolute;
        bottom: 0;
        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            //select only if sticky
            item.selected.nav-logo { background-color: @ORANGE; }
        }
        div.layer-color {
            background-color: fade(@DARK_GREY, 70%);
        }
        grid {
            overflow: hidden;
            marign: 0;
            padding: 0;
            content {
                width: 100%;
                item {
                    width: 15%;
                    display: block;
                    float: left;
                    text-align: center;
                    overflow: hidden;
                    position: relative;
                    .logo {
                        color: transparent;
                        display: block;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 100%;
                        background-position: center @LOGO_NAV_MARGIN;
                        background-size: @NAVIGATION_HEIGHT - 2 * @LOGO_NAV_MARGIN;
                        transiion: @MENU_TRANSITION;
                    }
                    a {
                        width: inherit;
                        height: @NAVIGATION_HEIGHT;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        text-decoration: none;
                        color: @WHITE;
                    }
                    &.selected {
                        //select only if sticky
                        &.nav-logo { background-color: initial; }
                        background-color: @ORANGE;
                        &:hover {
                            color: initial;
                        }
                    }
                    &:not(.selected):hover {
                        a {
                            color: @ORANGE;
                            transition: @MENU_TRANSITION;
                        }
                        .logo.orange {
                            opacity: 1;
                        }
                    }
                    .logo.orange { 
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }
                }
            }
        }
    }
}