form.newsletter-form {
    margin: 3em 0;
    input[type="text"], input[type="email"] {
        width: 100%;
        padding: 0.9em;
        margin-left: -0.2em;
    }
    input[type="submit"] {
        margin-top: 2em;
        color: @WHITE;
        font-weight: normal;
    }

    div.fieldgroup {
        .column(8);
        .push(2);
    }

    div.submit-holder {
        text-align: center;
    }
}