.splash-screen-wrap {
    background-color: @AUDIENCE_COLOR;
}

section.splash-screen {
    min-height: calc(100vh * 2 / 3 + 2px);
    background: center;
    background-size: cover;
    splash {
        display: block; //for this who doesn't know flex
        background-color: fade(@DARK_BLUE, 75%);
        min-height: inherit;
        .centered-flex(); //for this who does know flex
        content {
            padding: 40px 0;
            logo-wrap {
                display: block;
                transition: 1.5s;

                &.rotated {
                    transition: 2s;
                    .rotate(144deg);
                }
                logo {
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 100%;
                    height: 200px;
                    opacity: 0.75;
                }
            }
            text-align: center;
            // make min-height to be more or less 200px
            titles {
                transition: 1.5s;
                display: block;
                h1 {
                    font-size: 85pt;
                    padding: 15px 0;
                    margin: 0;
                    text-shadow: 0px 0px 4px #808080;
                }
                h2 {
                    margin: 0;
                    font-size: 14pt;
                    padding-bottom: 15px;
                    font-weight: normal;
                    opacity: 0.75;
                }
            }
        }
    }
    navigation {
        .centered-flex();
        background-color: @GREY;
        width: 100%;
        position: absolute;
        z-index: 5;
        content {
            display: block;
            min-height: 2 * @HEADER_HEIGHT;
            line-height: 2 * @HEADER_HEIGHT;
            text-align: center;
            a {
                display: block;
                width: calc(@PAGE_WIDHT / 6);
                float: left;
                &.nuclAi-go-top { display: none }
            }
        }
    }
}