@THUMBNAIL_SIZE: 230px;
@THUMBNAIL_SIZE_LARGE: 270px;
@THUMBNAIL_BORDER_SIZE: 4px;
@THUMBNAIL_BORDER_SIZE_SELECTED: 6px;


section.topics {
    content {
        item.thumbnail {
            .column(4);
            text-align: center;
            thumbnail-wrap {
                height: @THUMBNAIL_SIZE_LARGE + 3px; //to clean jump effect and provide smooth transition
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                width: inherit;
                thumbnail {
                    .circular(@THUMBNAIL_SIZE);
                    cursor: pointer;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: auto;
                    display: inline-block;
                    transition: 0.2s;
                    &.selected {
                        .circular(@THUMBNAIL_SIZE_LARGE);
                        overlay {
                            .circular(@THUMBNAIL_SIZE_LARGE);
                            border: solid @THUMBNAIL_BORDER_SIZE_SELECTED;
                            border-color: fade(@ORANGE, 70%);
                            background-color: fade(@DARK_GREY, 0%);
                        }
                    }
                    overlay {
                        .circular(@THUMBNAIL_SIZE);
                        // removed border rough edges if appears
                         /*
                        width: calc(100% + 2px);
                        height: calc(100% + 2px);
                        position: relative;
                        top: -2px;
                        left: -2px;
                        */
                        box-sizing: border-box;
                        background-color: fade(@DARK_GREY, 50%);
                        border: solid @THUMBNAIL_BORDER_SIZE;
                        border-color: fade(@DARK_GREY, 60%);
                    }
                }
            }
            p.thumbnail-title {
                font-weight: bold;
                color: @BLACK;
                &.selected {
                    display: none;
                }
                .colored {
                    color: @BLUE;
                }
            }
        }
        item.description {
            .column(10);
            .push();
            display: none;
            text-align: justify;
            padding-bottom: 75px;

            &.selected {
                display: block;
            }
            h2 {
                color: @ORANGE;
            }
        }
    }
}