{% include tracks/assign.html %}

<section class="thumbnails-grid tracks" id="section-tracks-menu">
    <grid>
        {% if titlebar %}
        <h2> {{titlebar}} </h2>
        {% endif %}
        <content class="bigger wider">
            <div class="program thumbnails thumbnails-5-in-row">
            {% assign itemsInRow = 5 %}
            {% assign dataType = "topics" %}
            {% assign attachDescription = false %}
            {% include features/thumbnails/thumbnails.html %}
            </div>
        </content>
    </grid>
</section>