<section class="tracks-people thumbnails-grid people " id="section-tracks-people">
    <grid>
        <h2>Speakers &amp; Organizers</h2>
        <content>
            <div class="program thumbnails thumbnails-5-in-row">
                {% assign names = "" %}

                {% assign talks = site.data.tracks[item.id] %}
                {% for talk in talks %}
                    {% for speaker in talk.speakers %}
                        {% if names contains speaker %}
                        {% else %}
                            {% capture names %}{% if names != "" %}{{names}},{% endif %}{{speaker}}{% endcapture %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% for person in site.data.people %}
                    {% for track in person.tracks %}
                        {% if track == item.id %}
                            {% if names contains person.name %}
                            {% else %}
                                {% if person.role != "speaker" %}
                                    {% capture names %}{% if names != "" %}{{names}},{% endif %}{{person.name}}{% endcapture %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% assign items = names | split:"," %}
                {% assign dataType = "people" %}
                {% assign itemsInRow = 5 %}
                <div class="thumbnails thumbnails-{{itemsInRow}}-in-row">
                    {% include features/thumbnails/thumbnails.html %}
                </div>
            </div>
        </content>
    </grid>
</section>