---
layout: page
title: nucl.ai - events
permalink: /events/
---

{% for event in site.data.events %}
    <section class="events">
    <h2> {{event.name}} </h2>
    {% for d in site.data.schedule %}
        {% if event.date == d.date %}
            <h3>{{event.location}} ({{d.title}})</h3>
            <grid>
            <content>
            HERE some description or pics
            </content>
        </grid>
        {% endif %}
    {% endfor %}
        <div id="event-map-canvas-{{forloop.index}}" class="event map" location="{{event.address}}"></div>
        <grid>
            <content>
            HERE some description or pics
            </content>
        </grid>
    </section>

{% endfor %}
