---
layout: page
title: nucl.ai - events
permalink: /program/events/
---

{% for event in site.data.events %}
    <section class="events">
    <h2> {{event.name}} </h2>
        {% capture title %}{{event.location}}{% endcapture %}
        {% for d in site.data.schedule %}
        {% if event.date == d.date %}
            {% capture title %}{{event.location}} — {{d.title}}{% endcapture %}
        {% endif %}
        {% endfor %}
        <h3>{{title}}</h3>
        <grid>
            <content>
                {{event.description}}
                {% assign items = site.data.galleries[event.id] %}
                {% include features/gallery/gallery.html %}
                {{event.instructions}}
            </content>
        </grid>
        <div id="event-map-canvas-{{forloop.index}}" class="event map" placeId="{{event.placeId}}" location="{{event.address}}"></div>
    </section>

{% endfor %}
