---
layout: landing
---

<sections class="landing">

{% include splash.html %}
{% include landing/about.html %}
{% comment %}
{% include landing/stream.html %}
<section class="none"></section>
{% endcomment %}
{% include landing/news-feed.html %}
<section class="none"></section>
{% include landing/passed-events.html %}
{% include landing/topics.html %}
{% include landing/people.html %}
{% include landing/testimonials.html %}
<section class="none"></section>
{% include landing/sponsors.html %}
</sections>

{% include footer.html %}
