---
layout: empty
title: nucl.ai - venue
permalink: /lobby-blue/
---

<section class="program-schedule lobby-blue" id="section-lobby">
    <grid>
        <content>
            <div class="sponsors-list">
                {% for day in site.data.lobby %}
                    <div class="day" date="{{day.date}}">
                        {% for sponsor in day.sponsors %}
                            {% for item in site.data.sponsors %}
                                {% if item.id == sponsor.id %}
                                    <div class="sponsor-wrap" duration="{{sponsor.duration}}">
                                    {% include /landing/sponsor.html %}
                                    </div>
                                {% endif %}
                            {% endfor %}    
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% for day in site.data.schedule %}
                <table class="talks-list not-initialized animated zoomIn expanded" name="{{day.title}}" date="{{day.date}}" border="0" cellpadding="0" cellspacing="0">
                    <tr class="talk-list-row">
                        <td class="talks-list">

                            {% for track in day.tracks %}
                                {% include schedule/track.html %}
                            {% endfor %}

                            {% assign dayIdx = forloop.index %}

                            {% comment %}

                            DON'T NEED BREAKS JUST NEXT TALK

                            {% for d in site.data.breaks %}
                                {% if d.day == dayIdx %}
                                    {% for break in d.breaks %}
                                        <div class="track cell-content break table" time-start="{{break.time.start}}" time-finish="{{break.time.finish}}" room="all">
                                            <div class="centered-cell talk-cell-wrap"><p>{{break.name}}</p></div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            {% endcomment%}

                        </td>
                    </tr>
                </table>
            {% endfor %}
        </content>
    </grid>
</section>