---
layout: page
title: nucl.ai Schedule
permalink: /program/schedule/
---

<section class="program-schedule">
    <grid>
        <h2>Conference Schedule</h2>
        <content>
            <p class="note">Please note that this schedule is tentative, and allocation of tracks for each day may change.</p>
            {% for day in site.data.schedule %}
                <table> 
                    <tr>
                        <td>
                            <div class="button-wrap"> 
                                <div class="button-expand"></div>
                            </div>
                            <div class="titlebar-wrap">
                                <div class="content-wrap">
                                    <h3>
                                        {{day.title}}
                                    </h3>
                                    <div class="legend">
                                        {% for track in day.tracks %}
                                            <div class="track-wrap">
                                                    {% for topic in site.data.topics %}
                                                        {% if topic.id == track %}
                                                            <div class="track {{track}}">
                                                                        <div class="marker"></div>
                                                                        <p class="track-name"> {{topic.title}} </p>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            {% endfor %}
        </content>
    </grid>
</section>

