---
layout: page
title: nucl.ai Schedule
permalink: /program/schedule/
---

<section class="program-schedule">
    <grid>
        <h2>Conference Schedule</h2>
        <content>
            <p class="note">Please note that this schedule is tentative, and allocation of tracks for each day may change.</p>
            {% for day in site.data.schedule %}
                <div class="day-wrap" name="{{day.title}}">
                    <table> 
                        <tr>
                            <td>
                                <div class="button-wrap"> 
                                    <div class="button-expand" name="{{day.title}}"></div>
                                </div>
                                <div class="titlebar-wrap">
                                    <div class="content-wrap">
                                        <h3>
                                            {{day.title}}
                                        </h3>
                                        <div class="legend">
                                            {% for track in day.tracks %}
                                                <div class="track-wrap">
                                                        {% for topic in site.data.topics %}
                                                            {% if topic.id == track %}
                                                                <div class="track {{track}}">
                                                                    <div class="marker"></div>
                                                                    <p class="track-name"> {{topic.title}} </p>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="talks-list not-initialized not-expanded animated zoomIn" name="{{day.title}}">
                        {% comment %} Get all talks per day {% endcomment %}
                        <tr>
                            <td>
                                {% for track in day.tracks %}
                                    {% for talk in site.data.tracks[track] %}
                                        <div class="track {{track}}" time="{{talk.time}}">
                                            <p class="speakers"> 
                                            {% assign firstSpeaker = true %}
                                            {% for speaker in talk.speakers %}
                                                {% for s in site.data.people %}
                                                    {% if speaker == s.name %}
                                                        <span="speker-name">
                                                        {% if firstSpeaker  %}
                                                        {% else %}
                                                            and
                                                        {% endif %}
                                                        {{ s.name }}</span><span class="studio">, {{ s.affiliation.name }}</span>
                                                        {% assign firstSpeaker = false %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            </p>
                                            <p class="title"><a href="/track/{{track}}/#{{talk.title| replace:':','-' | replace:'&','and' | escape | replace:' ','-' | downcase}}">{{talk.time}} {{talk.title}}</a></p>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </content>
    </grid>
</section>

