---
layout: page
title: Live Stream — nucl.ai Conference
permalink: /stream/
---
<section class="stream">
    <grid>
        <h2>Event Live Stream Starts Here In:</h2>
        <content>

            <div class="all-timers-off">
                Conference Live Stream has ended. Thank you for watching!
            </div>

            {% assign timer_title = "Sign-up for FREE access or to set reminders..." %}

            {% for day in site.data.stream.days %}
                {% capture timer_name %}day-{{forloop.index}}{% endcapture %}
                {% capture timer_on_finish %} $('.stream-teaser').hide(); timer.hide(); $('#stream-{{forloop.index}}').show(); {% endcapture %}
                {% assign timer_off = day.finish %}
                {% assign timer_count_to = day.start %}
                {% include features/timers/timer.html %}
                {% capture timer_on_off %}  timer.remove(); $('.stream-teaser').show(); $('#stream-{{forloop.index}}').remove(); activateTimer('day-{{forloop.index|plus:1}}'); {% endcapture %}
                {% if forloop.last == true %}
                    {% capture timer_on_off %} $('.all-timers-off').show(); $('#stream-{{forloop.index}}').remove(); {% endcapture %}
                {% endif %}
                <div class="mobile">
                    {% include features/timers/timer.html %}
                </div>
            {% endfor %}
            
            <div id="register">
                <a href="/stream/day1/">Day #1</a> &mdash;
                <a href="/stream/day2/">Day #2</a> &mdash;
                <a href="/stream/day3/">Day #3</a>
            </div>
        </content>
    </grid>

{% for day in site.data.stream.days %}
    <div class="stream-wrap" id="stream-{{forloop.index}}">
        {{ day.livestream }}
    </div>
{% endfor %}

{% include features/timers/clean.html %}

</section>
<section class="none"></section>

<section class="stream stream-teaser first">
    <content>
        <grid>
            <div style="text-align: left;">
                <img src="/img/stream/stream-yellow.jpg">
		        <p class="credit"><u>Image Credit</u>: CC-BY-NC iquiles, alexjc [<a href="https://www.shadertoy.com/view/4llXz4">source</a>]</p>

                <h3>The Schedule</h3>
                            
                <p>Our live stream covers all the talks in the main amphitheatre, in particular:</p>
                
                <ul>
                    <li><b>July 20th, Day #1</b> &mdash; Real-time Decisions, Crowd Simulation, User Interface & Devices.
                        <p style="color: #a5cce9; opacity: 0.85; font-size: 100%;"><u>STREAMING LIVE</u>: Epic Battles in Guardians of the Galaxy, Drivatar in the Forza Series, Real-time MCTS in Fable Legends, Crowds in Assassin's Creed, The Revolution in Search-based AI, Evolution of AI at Pixar (keynote).</p>
                    </li>
                    <li><b>July 21st, Day #2</b> &mdash; Agent Behavior, Procedural Generation, Advanced Analytics.
                        <p style="color: #a5cce9; opacity: 0.85; font-size: 100%;"><u>STREAMING LIVE</u>: Player Cloning in Killer Instinct, Dynamic Pricing in Mobile Games, Generating Characters in Ultima Regum, Design of Total War: Attila, Behavior Trees in Eve Online, Proceduralism in No Man's Sky, Churn Prevention in Top 11, Planning for Final Fantasy XV.</p>
                    </li>
                    <li><b>July 22nd, Day #3</b> &mdash; Systemic Design, Character Animation, Cognition & Language.
                        <p style="color: #a5cce9; opacity: 0.85; font-size: 100%;"><u>STREAMED LIVE</u>: Inverse Kinematics at Ubisoft Toronto, Population Management in The Witcher 3, Animation in League Of Legends, Chatbots in event[0], Motion Fields from prototype to production, AI Systems and Directors in Fortnite, and IBM Watson (keynote).</p>
                    </li>
                </ul>

                <p>See the <a href="/program/schedule/">full schedule</a> for more detailed information.</p>
            </div>
        </grid>
    </conten>
</section>

<section class="stream stream-teaser">
    <content>
        <grid>
            <div style="text-align: left;">
                <h3>The Event</h3>
                
                <p>Of course, if you're interested in any of the sessions above you should <a href="/attend/">attend in-person</a>!  Here are many reasons why:</p>
                
                <ol style="opacity: 0.85;">
                    <li><b>On-Site Only Sessions</b> &mdash; The masterclass room features in-depth tutorials and more advanced topics, and will not be streamed.  Also, the hands-on workshop only make sense if you attend in person and won't be recorded.  Consider visiting us!<br/><br/></li>
                    <li><b>Career Opportunities</b> &mdash; If you're looking to make a transition into artificial intelligence, nucl.ai is the place you jump to the front of the queue. Whether you're a student or looking for options, there's no substitute for meeting your future colleagues directly!<br/><br/></li>
                    <li><b>Networking &amp; Building Contacts</b> &mdash; The community at nucl.ai is very friendly, and the event is a great & easy way to meet new friends, build up your professional network, and like-minded people to contact in the future.<br/><br/></li>
                    <li><b>Recruiting and Hiring</b> &mdash; For studios or companies keen to hire, nucl.ai is one of the best places to start since it's a conference focusing on developers, not CEOs or marketers!  Meeting those programmers and designers in person one of the best ways to hire.<br/><br/></li>
                </ol>
                
                <p>If you need any help or advice with any of this, the conference team is always happy to help.  Our hands-on workshops are great ways to meet others without any pressure.  The various social events, both official and unofficial, will also let you relax in great company.</p>
            </div>
        </grid>
    </conten>
</section>

<section class="stream-teaser separator" style="background-image: url('{{'/img/stream/stream-purple-quads.png' | prepend: site.baseurl }}' );background-position: center center;"></section>
