---
layout: page
title: Live Stream — nucl.ai Conference
permalink: /stream/
---
<section class="stream single-timer">
    <grid>
        <h2>Event Live Stream</h2>
        <content>

            <div class="all-timers-off">
                Conference Live Stream has ended. Thank you for watching!
            </div>

            {% assign timer_title = "" %}

            {% for day in site.data.stream.days %}
                {% capture timer_name %}day-{{forloop.index}}{% endcapture %}
                {% capture timer_on_finish %} timer.hide(); $('#stream-{{forloop.index}}').show(); {% endcapture %}
                {% assign timer_off = day.finish %}
                {% assign timer_count_to = day.start %}
                {% include features/timers/timer.html %}
                {% capture timer_on_off %}  timer.remove(); $('#stream-{{forloop.index}}').remove(); activateTimer('day-{{forloop.index|plus:1}}'); {% endcapture %}
                {% if forloop.last == true %}
                    {% capture timer_on_off %} $('.all-timers-off').show(); {% endcapture %}
                {% endif %}
                <div class="mobile">
                    {% include features/timers/timer.html %}
                </div>
            {% endfor %}

        </content>
</grid>

{% for day in site.data.stream.days %}
    <div class="stream-wrap timer-dependent" id="stream-{{forloop.index}}">
        {{ day.livestream }}
    </div>
{% endfor %}

{% include features/timers/clean.html %}