---
layout: page
title: nucl.ai - tickets
permalink: /tickets/
---

<section class="tickets">
    <h2 class="titlebar">Tickets & Prices</h2>
    <grid>
        <content>
        {% for ticket in site.data.tickets_price %}
            {% if ticket.date and ticket.date != "" %} {% capture row_class %} long {% endcapture %} {% else %} {% capture row_class %} short {% endcapture %} {% endif %}
            <item class="ticket-row ticket-price {{row_class}} {{ticket.type}}">
                {% if ticket.name and ticket.name != "" or ticket.date and ticket.date != "" %} {% capture cell_class %} visible {% endcapture %} {% else %} {% capture cell_class %} invisible {% endcapture %} {% endif %}
                <div class="name table {{cell_class}}">
                    <div class="centered-cell">
                        <p class="name">{{ ticket.name }} </p>
                        <p class="date">{{ ticket.date }}</p>
                    </div>
                </div>
                {% if forloop.first == false %}
                <div class="all-access table">
                {% else %}
                <div class="all-access table titlerow">
                {% endif %}
                    <div class="centered-cell">
                        <p>
                            {% if ticket.all_access %}
                                {% if forloop.first == false %}
                                    &euro;
                                {% endif %}
                                {{ ticket.all_access }}
                            {% else %}
                                -
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% if forloop.first == false %}
                <div class="conference table">
                {% else %}
                <div class="conference table titlerow">
                {% endif %}                    
                <div class="centered-cell">
                        <p>
                            {% if forloop.first == false %}
                                &euro;
                            {% endif %}
                            {{ ticket.conference }}
                        </p>
                    </div>
                </div>
            </item>
        {% endfor %}
        <div class="table-comments">
            <p class="table-comment">
                *To recive this discount contact us at events(at)aigamedev.com
            </p>
        </div>
        </content>
    </grid>
</section>
<section class="none"></section>
<section class="tickets">
    <h2 class="titlebar">What's included in Your Ticket</h2>
    <grid>
        <content>
        {% for ticket in site.data.conference_goods %}
            {% if ticket.name.size > 50 %} {% capture row_class %} long {% endcapture %} {% else %} {% capture row_class %} short {% endcapture %} {% endif %}
            <item class="ticket-row conference-good {{row_class}} {{ticket.type}}">
                {% if ticket.name and ticket.name != "" %} {% capture cell_class %} visible {% endcapture %} {% else %} {% capture cell_class %} invisible {% endcapture %} {% endif %}
                
                
                <div class="name table {{cell_class}}">
                    <div class="centered-cell">
                        <p class="name">{{ ticket.name }} </p>
                        <p class="date">{{ ticket.date }}</p>
                    </div>
                </div>
                {% if forloop.first == false %}
                <div class="all-access table">
                {% else %}
                <div class="all-access table titlerow">
                {% endif %}
                    <div class="centered-cell">
                        <p>{{ ticket.all_access }}</p>
                    </div>
                </div>
                {% if forloop.first == false %}
                <div class="conference table">
                {% else %}
                <div class="conference table titlerow">
                {% endif %}            
                    <div class="centered-cell">
                        <p>{{ ticket.conference }}</p>
                    </div>
                </div>
            </item>
        {% endfor %}
            <div class="table-comments">
            <p class="table-comment">
                See FAQs for details about discounts, included services, ticket transfer etc.
            </p>
            <p class="table-comment">
                *Student tickets and single day tickets do not include vouchers/coupons
            </p>
        </div>
        <content>
    </grid>
</section>

<section class="tickets-faq">
   <h2 class="titlebar">Which Ticket is the ONE for You?</h2>
    <grid>
        <content>
            <item class="tickets-review">
                <div class="table">
                    <div class="title conference centered-cell">
                        <p>Conference</p>
                    </div>
                </div>
                <p>
                    If you want to get a broad selection of sessions about what's
                    new in AI, which thigs have been implemented in recent
                    games, then the Conference ticket is the best choice for you.
                    It also gives you many opportunities to catch up with fellow
                    AI enthusiasts and get inspired by the many new fields that
                    currently influence AI.
                </p>
            </item>
            <item class="tickets-review">
                <div class="table all-access">
                    <div class="title conference all-access">
                        <p>All Access</p>
                    </div>
                </div>
                <p>
                    Go All Access if you want to dive into the topics deeper with 
                    special masterclasses and tutorials. Also, this ticket gives 
                    you networking opportunities with experts in the field and
                    time to exchange with the speakers . 
                    Never worry to miss a session - you can always catch up
                    with it later by watching the recordings!
                </p>
            </item>
        </content>
    </grid>
</section>
<section class="none"></section>
<section class="tickets-faq">
<h2 class="titlebar">FAQ</h2>
    <grid>
        <content>
            <p>
                <span class="question">
                    Ticket Upgrade
                </span>
                <span class="reply">
                    You can <a Eventbrite link here> upgrade your ticket here.</a>
                </span>
            </p>
            <p>
                <span class="question">
                    Ticket Transfer
                </span>
                <span class="reply">
                    All tickets can be transferred to an other person free of charge until July 6th. If you have received a special discount such as a Student, Member, or Indie you must contact us before transferring as the new attendee needs to be eligible for this discount as well. 
                    <a link probably to eventbrite>Transfer your ticket here.</a>
                </span>
            </p>
            <p>
                <span class="question">
                    Ticket Refund
                </span>
                <span class="reply">
                    Conference tickets can be refunded until June 20th minus a service charge of €.... All Access tickets can be refunded until July 6th minus a service charge of € ....After these dates refunds are unfortunately not possible. 
                </span>
            </p>
            <p>
                <span class="question">
                    Help
                </span>
                <span class="reply">
                    If you need any assistance, we're happy to help! You can contact us at events (at) aigamedev.com
                </span>
            </p>
        <content>
    </grid>
</section>
