section.people {
    min-height: 0px;
    &.thumbnails-grid content {
        item.description {
            p.work-title {
                display: inline-block;
                float: left;
            }
            p.track-topic { 
                clear: both; 
            a { text-decoration: none; }
            }
            p.links {
                display: inline-block;
                float: right;
                a.twitter { margin-left: 15px; margin-top: -7px; }
            }
            p.bio {
                clear: both;
            }
            p.affiliation {
                float: right;
                a { text-decoration: none; }
            }
            &:not(.last-row) {
                padding-bottom: 3.8em;
            }
        }
    }
    content {
        .subsection {
            &:first-of-type {
                h3 { margin-top: 0; }
            }
            h3 { 
                text-align: center;
            }
            padding: 2em 0;
        }
    }
}