section.people {
    min-height: 0px;
    content {
        .subsection {
            h3 { 
                text-align: center;
            }
            padding: 2em 0;
        }
        item.description {
            p.work-title {
                display: inline-block;
                float: left;
            }
            p.links {
                display: inline-block;
                float: right;
            }
            p.bio {
                clear: both;
            }
        }
    }
}