section.sponsors {
    content {
        overflow: hidden;
        item {
            .column(4);
            margin-top: 1.04166667%; // copied from inspector
            margin-bottom: 1.04166667%;
            .logo-wrap {
                text-align: center;
                background-color: @MID_BLUE;
                width: 90%;
                height: 90%;
                margin: auto;
                div.logo-center {
                    a:extend(icon) {
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        background-size: 75%;
                    }
                }
            }
        }
    }
}