section.stream-link {
    text-align: center;
    @media screen and (min-width: (@SMARTPHONE_MAX_PORTRAIT + 1px)) { 
        #stream-button-wrap { height: 0px; }
    }
    a.to-stream {
        color: @ORANGE;
        cursor: pointer;
        display: block;

        .content-wrap {
            margin: 0 80px;
            padding: 20px;
            border: 2px solid @ORANGE;
            &:hover, .touch & {
                background-color: fade(@ORANGE, 80%);
                border-color: fade(@ORANGE, 80%);
                color: @WHITE;
            }
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                padding: 10px 0;
                margin: 0 70px; 
            }
            .transition(0.5s all);
        }

        span.button {
            font-size: 5em;
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                font-size: 1.25em;
            }
        }
        span.announcement {
            display: none;
            &.block {
                display: block;
                font-size: 1.5em;
                padding-top: 0.25em;
                @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                    font-size: 17px;
                }
            }
        }
    }
}

