section.testimonials {
    content {
        padding-top: 2em;
        .testimonial {
            .column(4);
            .push(1);
            display: none;
            &.selected {
                display: inline-block;
            }
            .text {

            }
            .author {
                text-align: right;
            }
        }
    }
}