section.testimonials {
    content {
    /**
    * Dislike these differet sizes here.
    * When is the last doesn't need to have a fixed size
    */
    /*
    height: 15em;
    @media screen and (max-width: (@SMARTPHONE_MAX_PORTRAIT * 1.8)) { 
        height: 20em;
    }
    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
        height: 13em;
    }
    */
    .testimonial {
            line-height: 1.3em;
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                line-height: 0.7em;
            }
            .column(4);
            &.left {
                .push(1);
            }
            &.right {
                float: right;
                .pull(1);
            }
            display: none;
            &.selected {
                display: inline-block;
            }
            .text {

            }
            .author {
                text-align: right;
            }
        }
    }
}