<section class="about">
    <canvas id="boids">
    </canvas>

    <content class="headline">
        <br/>
        <h2>
            Artificial Intelligence in Creative Industries<br/>
            Less Hype, More Results!
        </h2>
        <h3>
            The largest worldwide conference about Artificial Intelligence applications<br/>
            in interactive media, training &amp; simulations, and digital entertainment.
        </h3>
    </content>

<!--
    <content>
        <item class="wide">
            <p>
                Welcome To The Biggest Independant Conference about Artificial Intelligence in Games and Industry.
            </p>
        </item>
        <item class="narrow">
            <p>
                Newsletter
            </p>
            <p>
                Get News about speakers, ticket discounts and every else you need to know!
            </p>
            {% include newsletter-form.html %}
        </item>
        <end></end>
    </content>
-->
</section>