<section class="about">
    <titlebar class="content">
        <h2>
            Game/AI Conf Is Expanding!
        </h2>
    </titlebar>
    <content>
        <item class="about">
            <p>
                Welcome To The Biggest Independant Conference about Artificial Intelligence in Games and Industry.
            </p>
        </item>
        <item class="newsletter">
            <p>
                Newsletter
            </p>
            <p>
                Get News about speakers, ticket discounts and every else you need to know!
            </p>
            {% include newsletter-form.html %}
        </item>
        <end></end>
    </content>
</section>