<footer>
    <content>
<!--
    <links>
        <a>Buy Tickets</a>
        <a>Meet the Team</a>
        <a>Privacy Policy</a>
        <a>Contact Us</a>
    </links>
-->
    <icons>
        <a href="https://twitter.com/GameAiConf" class="social twitter"></a>
        <a href="https://facebook.com/aigamedev" class="social facebook"></a>
        <a href="https://google.com/+AiGameDev" class="social google"></a>
    </icons>
        <p>Copyright &copy; and &trade; AiGameDev.com KG,&nbsp; All Rights Reserved.</p>
    </content>
</footer>