<footer>
    <content>
    <links>
        <a>Buy Tickets</a>
        <a>Meet the Team</a>
        <a>Privacy Policy</a>
        <a>Contact us</a>
    </links>
    <social-media>
        <a href="http://nucl.ai/twitter" class="twitter"></a>
        <a href="http://nucl.ai/facebook" class="facebook"></a>
        <a href="http://nucl.ai/google" class="google"></a>
    </social-media>
    <copyrights>
        Copyright &copy; and &#8482;,&nbsp; All Rights Reserved.
    </copyrights>
    </content>
</footer>