<footer>
    <content>

    <links>
        <a href="/legal/">Legal</a>
        <a href="/contact/">Contact Us</a>
        <!--
        <a href="/press/">Press</a>
        -->
    </links>

    <icons>
        <a href="https://twitter.com/nuclai" target="_blank" class="social twitter"></a>
        <a href="https://facebook.com/nuclai" target="_blank" class="social facebook"></a>
        <a href="https://google.com/+AiGameDev" target="_blank" class="social google"></a>
    </icons>
        <p class="copyrights">Copyright &copy; and &trade; AiGameDev.com KG,&nbsp; All Rights Reserved.</p>
    </content>
</footer>