{% if page.layout != "landing" %}
    {% capture linkPrefix %}/{% endcapture %}
{% else %}
{% endif %}

<section class="navigation">
    <div class="layer-color">
        <grid>
            <content>
                <item class="nav-logo">
                    <a href="{{linkPrefix}}#about" id="nav-logo" class="logo"></a>
                    <a href="{{linkPrefix}}#about" id="nav-logo" class="logo orange"></a>
                </item>
                <item>
                    <a href="{{linkPrefix}}#topics"> Conference & Workshop Topics </a>
                </item>
                <item>
                    <a href="{{linkPrefix}}#call"> Call for Presentations </a>
                </item>
                <item>
                    <a href="{{linkPrefix}}#people"> Speakers & Organizers </a>
                </item>
            </content>
        </grid>
    </div>
</section>