{% if page.layout != "landing" %}
    {% capture linkPrefix %}/{% endcapture %}
{% else %}
{% endif %}

<section class="navigation">
    <div class="layer-color">
        <grid>
            <content>
                <item class="nav-logo">
                    <div class="icons-wrap">
                        <a href="{{linkPrefix}}#about" id="nav-logo" class="logo"></a>
                        <a href="{{linkPrefix}}#about" id="nav-logo" class="logo orange"></a>
                    </div>
                </item>
                <item>
                    <a href="{{linkPrefix}}#topics"> Topics </a>
                </item>
                <item>
                    <a href="{{linkPrefix}}#call"> 
                    <span class="long-title">Call Open </span>
                    <span class="short-title">Call for Papers </span>
                    </a>
                </item>
                <item>
                    <a href="{{linkPrefix}}#people"> People </a>
                </item>

                {% if page.name == 'program.html' %}
                    <item class="selected static">
                {% else %}
                    <item>
                {% endif %}
                    <a href="/program/"> Program </a>
                </item>

                <!--
                {% if page.name == 'audience.html'%}
                    <item class="selected">
                {% else %}
                    <item>
                {% endif %}
                    <a href="" class="disabled expandable"> Program </a>
                    <div class="dropdown">
                        <div class="menu">
                            <div class="menu-wrap">
                                <div class="table">
                                <div class="triangle"></div>
                                </div>
                                <div class="table">
                                    <a href=""> Schedule </a>
                                </div>
                                    <div class="table">
                                <a href=""> Talks </a>
                                    </div>
                                <div class="table">
                                    <a href=""> Events </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </item>
                -->
                <!--
                {% if page.name == 'venue.html'%}
                    <item class="selected static">
                {% else %}
                    <item>
                {% endif %}
                    <a href="" class="expandable"> For Attendees </a>
                    <div class="dropdown">
                        <div class="menu">
                            <div class="menu-wrap">
                                <div class="table">
                                <div class="triangle"></div>
                                </div>
                                <div class="table">
                                    <a href="/venue"> Venue </a>
                                </div>
                                <div class="table">
                                    <a class="disabled" href=""> Target Audience </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </item>
                -->
                {% if page.name == 'tickets.html'%}
                    <item class="selected static">
                {% else %}
                    <item>
                {% endif %}
                    <a href="/tickets/"> Tickets </a>
                </item>


                <item>
                    <a href="{{linkPrefix}}#sponsors"> Sponsors </a>
                </item>
            </content>
        </grid>
    </div>
</section>