<form action="http://aigamedev.us1.list-manage.com/subscribe/post?u=7237aadfadd07d04c7fa41959&amp;id=6f99b17b97" method="post" class="newsletter-form">

    <div class="fieldgroup">
        <input type="text" value="" name="FNAME" id="mce-FNAME" placeholder="Name..." required/>
    </div>
    <div class="fieldgroup">
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email..." required/>
    </div>
    <div class="submit-holder">
        <input type="hidden" value="64" name="group[6][64]">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>

</form>