{% comment %}
 keep wrapper to have image visiable untill gif is loaded
{% endcomment %}
{% for topic in site.data.topics %}
    {% capture pageName %}{{topic.id}}.html{% endcapture %}
    {% if pageName == page.name %}        
        {% assign isTrackPage = true %}
        {% capture trackBackground %}/img/tracks/{{topic.id}}.png{% endcapture %}
    {% endif %}
{% endfor %}
<section class="splash-screen" id="about">
    {% if page.name == 'venue.html' or page.name == 'tickets.html' %}
    <div class="splash-screen-wrap uni-campus-quads">
    {% elsif isTrackPage %}
    <div class="splash-screen-wrap" style="background-image: url('{{ trackBackground | prepend: site.baseurl }}' ); background-position: center center;">
    {% elsif page.name == 'overview.html' or page.name == 'tracks.html' page.name == 'events.html' page.name == 'schedule.html' %}
    <div class="splash-screen-wrap" style="background-image: url('{{ '/img/venue/room-lower.png' | prepend: site.baseurl }}' ); background-position: center center;">
    {% else %}
    <div class="splash-screen-wrap audience-gif">
    {% endif %}
        <splash>
            <div class="table">
                <div class="centered-cell">
                    <content>
                        <logo-wrap class="opacity0">
                            <logo></logo>
                        </logo-wrap>
                        <titles  class="opacity0">
                            {% if page.name == 'index.html' %}
                            <h1>nucl.ai</h1>
                            <h2>
                                July 20<sup>th</sup> to 22<sup>nd</sup>, Vienna / AUSTRIA.
                            </h2>
                            {% else %}
                            <grid>
                                <div class="left">
                                    <h1><a href="/">nucl.ai</a></h1>
                                    <h2>July 20th to 22nd, Vienna / AUSTRIA.</h2>
                                </div>
                                <div class="right">
                                    <h2>Conference on Artificial Intelligence<br/>
                                        in Creative Industries</h2>
                                    
                                    {% capture ticketBanner %}{{site.data.tickets_left.type}} and Day Tickets now available.{% endcapture %}
                                    <h2 class="note">
                                    {% if page.name == 'tickets.html' %}
                                    <span href="/tickets">{{ticketBanner}}</span>    
                                    {% else %}
                                    <a href="/tickets">{{ticketBanner}}</a>
                                    {% endif %}
                                    </h2>

                                </div>
                            </grid>
                            {% endif %}
                        </titles>
                    </content>
                </div>
            </div>
            {% comment %} Prevent navigtion from overlaping {% endcomment %}
            <navigation-fantom></navigation-fantom>
        </splash>
    </div>
    {% include navigation.html %}
</section>