{% comment %}
 keep wrapper to have image visiable untill gif is loaded
{% endcomment %}
{% for topic in site.data.topics %}
    {% capture pageName %}{{topic.id}}.html{% endcapture %}
    {% if pageName == page.name %}        
        {% assign isTrackPage = true %}
        {% capture trackBackground %}/img/tracks/{{topic.id}}.png{% endcapture %}
    {% endif %}
{% endfor %}

<section class="stream landing-stream splash-screen" id="about">

    {% if page.name == 'venue.html' or page.name == 'tickets.html' or page.name == 'attend.html' %}
    <div class="splash-screen-wrap uni-campus-quads">
    {% elsif isTrackPage %}
    <div class="splash-screen-wrap" style="background-image: url('{{ trackBackground | prepend: site.baseurl }}' ); background-position: center center;">
    {% elsif page.name == 'overview.html' or page.name == 'tracks.html' or page.name == 'events.html' or page.name == 'schedule.html' %}
    <div class="splash-screen-wrap" style="background-image: url('{{ '/img/venue/room-lower.png' | prepend: site.baseurl }}' ); background-position: center center;">
    {% else %}
    <div class="splash-screen-wrap audience-gif">
    {% endif %}


     <splash>
            <grid class="table">
                <content class="opacity0 centered-cell">

                    <logo-wrap> <logo></logo> </logo-wrap>

                    {% if page.name == 'index.html' %}

                        <h1>nucl.ai</h1>
                        <h2> July 20<sup>th</sup> to 22<sup>nd</sup>, Vienna / AUSTRIA. </h2>

                    {% else %}

                        <div class="centered-cell">
                            <h1><a href="/">nucl.ai</a></h1>
                            <h2>July 20th to 22nd, Vienna / AUSTRIA.</h2>
                        </div>
                        <div class="centered-cell">
                            <h2>Conference on Artificial Intelligence <br/> in Creative Industries</h2>

                            {% capture ticketBanner %}Final tickets available for online purchase.{% endcapture %}

                            <h2 class="note">
                            {% if page.name == 'tickets.html' %}
                                <span href="/tickets">{{ticketBanner}}</span>    
                            {% else %}
                                <a href="/tickets">{{ticketBanner}}</a>
                            {% endif %}
                            </h2>
                        </div>

                    {% endif %}
                </content>
                {% if page.name == 'index.html' %}
                    <div class="centered-cell right-cell stream-link">
                        {% include stream_link.html %}
                    </div>
                {% endif %}
            </grid>
                {% if page.name == 'index.html' %}
                    <div class="bottom-cell stream-link">
                        {% include stream_link.html %}
                    </div>
                {% endif %}
        </splash>
    </div>
    {% include navigation.html %}
</section>