{% comment %}
 keep wrapper to have image visiable untill gif is loaded
{% endcomment %}
<section class="splash-screen" id="about">
    {% if page.name == 'venue.html'%}
    <div class="splash-screen-wrap uni-campus">
    {% else %}
    <div class="splash-screen-wrap audience-gif">
    {% endif %}
        <splash>
            <div class="table">
                <div class="centered-cell">
                    <content>
                        <logo-wrap class="opacity0">
                            <logo></logo>
                        </logo-wrap>
                        <titles  class="opacity0">
                            <h1>nucl.ai</h1>
                            <h2>
                                July 20<sup>th</sup> to 22<sup>nd</sup>, Vienna / AUSTRIA.
                            </h2>
                        </titles>
                    </content>
                </div>
            </div>
            {% comment %} Prevent navigtion from overlaping {% endcomment %}
            <navigation-fantom></navigation-fantom>
        </splash>
    </div>
    {% include navigation.html %}
</section>