<link rel="stylesheet/less" type="text/css" href="{{ "/css/app.less" | prepend: site.baseurl }}" />
<link rel="stylesheet/less" type="text/css" href="{{ "/css/colors.less" | prepend: site.baseurl }}" />
<link rel="stylesheet/less" type="text/css" href="{{ "/css/globals.less" | prepend: site.baseurl }}" />
<link rel="stylesheet/less" type="text/css" href="{{ "/css/header.less" | prepend: site.baseurl }}" />
<link rel="stylesheet/less" type="text/css" href="{{ "/css/sections.less" | prepend: site.baseurl }}" />
<link rel="stylesheet/less" type="text/css" href="{{ "/css/splash.less" | prepend: site.baseurl }}" />

<!-- compile less on page -->
<script src="{{ "/js/lib/less.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
