{% for testimonial in site.data.testimonials %}
    {% if forloop.index <= testimonialsInRow %}
        <div class="{% cycle 'left', 'right' %} testimonial selected animated flipInX">
    {% else %}
        <div class="{% cycle 'left', 'right' %} testimonial animated flipOutX">
    {% endif %}
    <p class="text {{testimonialSize}}">{{ testimonial.text }}</p>
    <p class="author small">{{ testimonial.author }}</p>
    {% if testimonial.jobtitle %}
        <p class="jobtitle {{testimonialSize}}">{{ testimonial.jobtitle }}</p>
    {% endif %}
    {% if testimonial.company %}
        <p class="company {{testimonialSize}}">{{ testimonial.company }}</p>
    {% endif %}
    </div>
{% endfor %}