{% for testimonial in site.data.testimonials %}
    {% if forloop.index <= testimonialsInRow %}
        <div class="{% cycle 'left', 'right' %} testimonial selected animated flipInX">
    {% else %}
        <div class="{% cycle 'left', 'right' %} testimonial animated flipOutX">
    {% endif %}
    {% if textBig %}
        <p class="text">{{ testimonial.text }}</p>
    {% else %}
        <p class="text small">{{ testimonial.text }}</p>
    {% endif %}
    <p class="author small">{{ testimonial.author }}</p>
    {% if testimonial.jobtitle %}
        <p class="jobtitle small">{{ testimonial.jobtitle }}</p>
    {% endif %}
    {% if testimonial.company %}
        <p class="company small">{{ testimonial.company }}</p>
    {% endif %}
    </div>
{% endfor %}