{% if items != site.data.people %} {% comment %} items are filtered {% endcomment %}
    {% for person in site.data.people %}
        {% if person.name == desc %}
            {% assign d = person %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign d = desc %}
{% endif %}

{% if lastRow %} {% capture lastRow %}last-row{% endcapture %} {% endif %}

<item class="description {{lastRow}} animated fadeOutRight" name="{{ d.name | escape}}">
    <h2 class="thumbnail-title 
    {% if itemsInRow == 3 %}
        {% cycle 'left', 'middle', 'right' %} 
    {% endif %}
    ">
    {{ d.name }}</h2>
    <p class="work-title"> {{ d.title }} </p>
    <p class="links"> 
    {% if d.twitter %}
        <a class="social twitter" href="http://twitter.com/{{d.twitter}}" target="_blank"></a>
    {% endif %}
    </p>
    {% if d.bio %}
        {% for paragraph in d.bio %}
            <p class="bio wide">
                {{ paragraph }}
            </p>
        {% endfor %}
    {% else %} 
        {% comment%} put at least one even empty bio to not breake layout {% endcomment%}
        <p class="bio"></p>
    {% endif %}
</item>
