{% for item in items %}

    {% case dataType %}
        {% when "people" %}
            {% assign name = item.name %}
            {% capture thumbnail %}/img/people/{{ name | escape }}.jpg{% endcapture %}
            {% capture href %}nowhere{% endcapture %}
        {% when "topics" %}
            {% assign name = item.title %}
            {% capture thumbnail %}/img/topics/{{ item.id | escape }}.jpg{% endcapture %}
            {% capture href %}/program/tracks/{{ item.id | escape }}{% endcapture %}
    {% endcase %}

    {% if item.id == id %} {% assign selected="selected" %} {% else %} {% assign selected="" %} {% endif %}

    <item class="thumbnail {{item.id}}">
        <thumbnail-wrap>
            <a href="{{href}}"class="thumbnail {% cycle 'left', 'middle', 'right' %} {{thumbnailClass}} {{selected}}" name="{{name | escape}}" style="background-image: url('{{ thumbnail | escape |  prepend: site.baseurl }}')"></a>
        </thumbnail-wrap>
        <h3 class="thumbnail-title" name="{{name | escape}}">{{ name }}</h3>
    </item>

    {% if attachDescription %}

        {% capture modulo %}{{ forloop.index | modulo:3 }}{% endcapture %}
        {% assign topicsIndex = forloop.index %}
        {% assign lastRow = forloop.last %}

        {% if modulo == '0' or forloop.last == true %}
            {% if modulo == '0' %}
                {% assign descriptions = 3 %}
            {% else %}
                {% assign descriptions = forloop.index | modulo:3 %}
            {% endif %}
            <div style="clear: both; width: 100%;"></div>
            {% for num in (1...descriptions) %}
                {% assign descIndex = topicsIndex | minus:forloop.index %}
                {% assign desc = items[descIndex] %}
                {% case dataType %}
                    {% when "people" %}
                        {% include thumbnails-description-people.html %}
                    {% when "topics" %}
                        {% include thumbnails-description-topics.html %}
                {% endcase %}
            {% endfor %}
        {% endif %}

    {% endif %}

{% endfor %}
