{% if itemsInRow %} {% else %} {% assign itemsInRow = 3 %} {% endif %}

{% for it in items %}
    {% case dataType %}
        {% when "people" %}
            {% if items != site.data.people %} {% comment %} items are filtered {% endcomment %}
                {% for person in site.data.people %}
                    {% if person.name == it %}
                        {% assign thumbnail = person %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% assign thumbnail = it %}
            {% endif %}
            {% assign name = thumbnail.name %}
            {% capture thumbnailId %}{{thumbnail.name | escape | replace:' ','-' | downcase}}{% endcapture %}
            {% capture picture %}/img/people/{{ name | escape }}.jpg{% endcapture %}
            {% capture href %}/#{{thumbnailId}}{% endcapture %}
            {% if page.name == "index.html" %} <a class="anchor" id="{{thumbnail.name | escape | replace:' ','-' | downcase}}"></a> {% endif %}
        {% when "topics" %}
            {% assign thumbnail = it %}
            {% assign name = thumbnail.title %}
            {% capture thumbnailId %}{{thumbnail.id}}{% endcapture %}
            {% capture picture %}/img/topics/{{ thumbnail.id | escape }}.jpg{% endcapture %}
            {% capture href %}/program/tracks/{{ thumbnail.id | escape }}{% endcapture %}
    {% endcase %}

    {% if thumbnail.id and thumbnail.id == id %} {% assign selected="selected allows-selcted" %} {% else %} {% assign selected="" %} {% endif %}

    {% capture modulo %}{{ forloop.index | modulo:itemsInRow }}{% endcapture %}

    <item class="thumbnail {{thumbnail.id}}">
        <thumbnail-wrap>
            <a id="thumbnail-id-{{thumbnailId}}"href="{{href}}"class="thumbnail 
                column-{{ forloop.index | modulo:itemsInRow }}
                {% if modulo == '1' %} column-first {% endif %}
                {% if modulo == '0' %} column-last {% endif %}
                {{thumbnailClass}} {{selected}}" name="{{name | escape}}" style="background-image: url('{{ picture | escape |  prepend: site.baseurl }}')">
            </a>
        </thumbnail-wrap>
        <h3 class="thumbnail-title {{selected}}" name="{{name | escape}}">{{ name }}</h3>
    </item>

    {% if attachDescription %}
        {% capture modulo %}{{ forloop.index | modulo:itemsInRow }}{% endcapture %}
        {% assign topicsIndex = forloop.index %}
        {% assign lastRow = forloop.last %}
        {% if modulo == '0' or forloop.last == true %}
            {% if modulo == '0' %}
                {% assign descriptions = itemsInRow %}
            {% else %}
                {% assign descriptions = forloop.index | modulo:itemsInRow %}
            {% endif %}
            <div style="clear: both; width: 100%;"></div>
            {% for num in (1...descriptions) %}
                {% assign descIndex = topicsIndex | minus:forloop.index %}
                {% assign desc = items[descIndex] %}
                {% case dataType %}
                    {% when "people" %}
                        {% include thumbnails-description-people.html %}
                    {% when "topics" %}
                        {% include thumbnails-description-topics.html %}
                {% endcase %}
            {% endfor %}
            <div style="clear: both; width: 100%;"></div>
        {% endif %}
    {% endif %}
{% endfor %}
