{% if items != site.data.people %} {% comment %} items are filtered {% endcomment %}
    {% for person in site.data.people %}
        {% if person.name == desc %}
            {% assign d = person %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign d = desc %}
{% endif %}

{% if lastRow %} {% capture lastRow %}last-row{% endcapture %} {% endif %}
{% assign descModulo = descIndex | plus:1 | modulo:itemsInRow %}

<item class="description {{lastRow}} animated fadeOutRight" name="{{ d.name | escape}}">
    
    <div class="thumbnail-title 
        column-{{descModulo}}
        {{itemsInRow}}-in-row
        {% if descModulo == 1 %} column-first 
        {% elsif descModulo == 0 %} column-last
        {% elsif itemsInRow == 3 %} column-middle
        {% endif %}
    ">
        <div class="thumbnail-title-wrap">
            <h2> {{ d.name }} </h2>
            <div class="affiliation-wrap">
            {% if d.affiliation.name %}
                <p class="affiliation">
                    <a href="{{d.affiliation.url}}" target="_blank">{{>d.affiliation.name}}</a>
                </p>
            {% endif %}
            </div>
        </div>
    <div style="clear: both"> </div>

    </div>

    {% if d.affiliation.position %}
    <p class="affiliation-position">
        {{>d.affiliation.position}}
    </p>
    {% endif %}

    {% if d.twitter %}
        <p class="links"> 
            <a class="social twitter" href="http://twitter.com/{{d.twitter}}" target="_blank"></a>
        </p>
    {% endif %}

    <p class="bio"> {{ d.bio }} </p>

    {% if d.role == 'track' %}
    <p class="role">Track Chair and Co-Organizer</p>
    {% endif %}
    {% if d.role == 'speaker' %}
    <p class="role">Conference Speaker</p>
    {% endif %}

    <ul>

    {% comment %} get speaker talks {% endcomment %}
        {% for topic in site.data.topics %}
            {% assign talks = site.data.tracks[topic.id] %}
            {% for talk in talks %}
                {% for speaker in talk.speakers %}
                    {% if speaker == d.name %}
                        <li class="track-topic">
                            {% include wip-link.html %}
                            <a class="{{wipClass}}" href="/track/{{topic.id}}#{{talk.title | replace:':','-' | replace:'&','and' | escape | replace:' ','-' | replace:'*', '' | downcase}}">{{talk.title}}</a> (Presentation)
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}

    {% assign tracks = "" %}

    {% for topic in d.tracks %}
        {% if tracks contains topics %}
        {% else %}
        {% capture tracks %}{% if tracks != "" %}{{tracks}},{% endif %}{{topic}}{% endcapture %}
        {% endif %}
    {% endfor %}

    {% for topic in site.data.topics %}
        {% assign talks = site.data.tracks[topic.id] %}
        {% for talk in talks %}
            {% for speaker in talk.speakers %}
                {% if speaker == d.name %}
                    {% if tracks contains topic.id %}
                    {% else %}
                    {% capture tracks %}{% if tracks != "" %}{{tracks}},{% endif %}{{topic.id}}{% endcapture %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    {% assign tracksArray = tracks | split:"," %}
    {% for topic in tracksArray | split:"," %}
        <li class="track">
            {% for t in site.data.topics %}
                {% if t.id == topic %}<a href="/track/{{topic}}">{{t.title}}</a> (Track){% endif %}
            {% endfor %}
        </li>
    {% endfor %}

    </ul>
</item>
