<section class="topics">    
    <h2>
        Topics
    </h2>
    <grid>
        <content>
            {% for topic in site.data.topics %}
                <item>
                    <thumbnail style="background-image: url('{{ topic.thumbnail |  prepend: site.baseurl }} ')">
                        <overlay></overlay>
                    </thumbnail>
                    <p><b>{{ topic.title }}</b><p>
                    <p>{{topic.content}}</p>
                </item>
            {% endfor %}
        </content>
    </grid>
</section>