{% assign names = "" %}
{% assign filters = filterPeopleType | split:"," %}

{% for person in site.data.people %}
    {% for filter in filters%}
        {% assign hasRole = false %}
        {% for r in person.role %}
            {% if r == filter %}
                {% assign hasRole = true %}
            {% endif %}
        {% endfor %}
        {% if hasRole %}
            {% if filter == "speaker" %}
                {% if person.confirmed %}
                    {% capture names %}{% if names != "" %}{{names}},{% endif %}{{person.name}}{% endcapture %}
                {% endif %}
            {% else %}
                {% capture names %}{% if names != "" %}{{names}},{% endif %}{{person.name}}{% endcapture %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% assign items = names | split:"," %}
