{% include page/tracks/assign.html %}

{% for topic in site.data.topics %}
    {% if topic.id == item.id %}
        {% assign track = topic %}
        {% assign index = forloop.index %}
        {% assign isTrackPage = true%}
    {% endif %}
{% endfor %}

<section class="tracks-content tracks-text">
    <grid>
        <h2>{{item.title}} (Track #{{index}})</h2>
        {% assign items = site.data.tracks[item.id] %}
        <content>
            <p class="intro"><span>Now in its 7th edition, <a href="/">nucl.ai</a> brings together hundreds of developers from creative industries and interactive media to resolve the biggest technical and design problems with Artificial Intelligence.  One of the event's tracks focuses specifically on</span> <b>&ldquo;{{item.title}}&rdquo;</b> <span>for an entire day.</span></p>
            {{track.content}}

            <h3>Keywords</h3>
            
            <ul id="keywords">
            {% for keyword in track.keywords %}
                <li>{{ keyword }}</li>
            {% endfor %}
            </ul>
        </content>
    </grid>
</section>

<section class="program-schedule track-schedule">
    <grid>
    {% comment %} Find day {% endcomment %}
    {% for day in site.data.schedule %}
        {% for item in day.tracks %}
            {% if item == track.id %}
            <h2>Day Schedule (Track #{{index}})</h2>
            <content>
                    {% include schedule/day.html %}
            </content>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </grid>
</section>

{% comment %}
<section class="tracks-content tracks-text call">
    <grid>
        <h2>Call For Presentations</h2>
        <content>
            <div class="megaphone-paragraph-wrap">
            <icon class="megaphone"></icon>

            <p>If you've been working on projects with <b>{{item.title}}</b>, do you have a cool applications to show off?  Did you work on interesting prototypes?  Have you learned something to share with others?  This is your chance to interact with an audience of your peers and make an impact on the field!</p>
            </div>

            <p><a href="/">nucl.ai</a> welcomes submissions for presentations about AI techniques used in commercial products, ranging from independent games to mobile applications or AAA titles and simulations, even interactive exhibits.  Deep dive post-mortems and technology-specific tutorials about R&amp;D are also ideal.  Out of experience, the best sessions at the event try to balanced design and technology &mdash; and both are of course welcome in 2015.</p>

            <ul>
            {% for keyword in track.keywords %}
                <li>{{ keyword }}</li>
            {% endfor %}
            </ul>

            <p>If you'd like to participate in this track at <a href="/">nucl.ai</a>, on the topics listed above or any other you find appropriate, then get in touch...  Either submit a proposal <a href="https://docs.google.com/forms/d/171vIIRy1FcOABlRuyC6zJ0zDF6HrM3paNRXz1iEwuio/viewform">via this form</a> or send an email to <tt>&lt;events</tt> at <tt>aigamedev.com&gt;</tt>.  We're looking forward to reading your submission!</p>

            <h3>Submission Deadline April 30th, 2015.</h3>
        </content>
    </grid>
</section>
{% endcomment %}

{% capture backgroundImg %}/img/tracks/{{item.id}}.png{% endcapture %}
<section class="program separator" style="background-image: url('{{  backgroundImg | prepend: site.baseurl }}'); background-position: center center;">
    <a class="anchor" id="presentations"></a>
</section>

<section class="none separator"></section>

{% if items %}
<section class="thumbnails-grid tracks-content people left-side-thumbnail" id="track-content">
    <grid>
        <h2> Keynotes and Presentations </h2>
        <content>
                {% for item in items %}
                <item class="talk">
                    <a class="anchor" id="{{item.title | replace:':','-' | replace:'&','and' | escape | replace:' ','-' | downcase}}"></a>
                    <h3><a href="/track/{{track.id}}#{{item.title | replace:':','-' | replace:'&','and' | escape | replace:' ','-' | downcase}}">{{item.title}}</a></h3>
                    {% assign items = item.speakers %}
                    {% assign dataType = "people" %}
                    <div class="description">
                    <p >{{item.description}}</p>
                    </div>
                    {% assign attachDescription = false %}
                    {% assign aClass = "scrollable" %}
                        {% assign itemsInRow = 3 %}
                        {% assign shortBio = true %}
                        {% assign disableAll = true %}
                        <div class="thumbnails thumbnails-{{itemsInRow}}-in-row">
                        {% include thumbnails.html %}
                    </div>
                </item>
            {% endfor %}
        </content>
    </grid>
</section>
{% endif %}

{% assign disableAll = false %}
{% assign shortBio = false %}
{% assign aClass = "" %}
{% assign titlebar = "Browse Conference Tracks" %}