{% include page/tracks/assign.html %}


<section class="thumbnails-grid tracks-content">
    <grid>
        <h2 class="titlebar"> {{item.title}} </h2>
        {% assign items = site.data.tracks[item.id] %}
        <content>
                <p class="wide big">
                    {% for topic in site.data.topics %}
                        {% if topic.id == item.id %}
                            {{ topic.content }}
                        {% endif %}
                    {% endfor %}
                </p>
        </content>
    </grid>
</section>

<section class="thumbnails-grid tracks-content" id="track-content">
    <grid>
        <h2 class="titlebar"> Talks </h2>
        <content>
                {% for item in items %}
                <item class="talk">
                    <a class="anchor" id="{{item.title | escape | replace:' ','-' | downcase}}"></a>
                    <h3>{{item.title}}</h3>
                    {% assign items = item.speakers %}
                    {% assign dataType = "people" %}
                    <div class="description wide big">
                    <p >{{item.description}}</p>
                    </div>
                    
                    {% assign attachDescription = false %}
                    {% if item.speakers.first == item.speakers.last %}
                        {% assign itemsInRow = 3 %}
                    {% else %}
                        {% assign itemsInRow = 4 %}
                    {% endif %}
                        <div class="thumbnails thumbnails-{{itemsInRow}}-in-row">
                        {% include thumbnails.html %}
                    </div>
                </item>
            {% endfor %}
        </content>
    </grid>
</section>

{% assign titlebar = "All Tracks" %}