<section class="tracks-people thumbnails-grid" id="section-tracks-people">
    <grid>
        <h2 class="titlebar">Tracks Chair & Speakers</h2>
        <content>
            <div class="program thumbnails thumbnails-6-in-row">
                {% assign names = "" %}

                {% for person in site.data.people %}
                    {% for track in person.tracks %}
                        {% if track == item.id %}
                            {% capture names %}{% if names != "" %}{{names}},{% endif %}{{person.name}}{% endcapture %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% assign talks = site.data.tracks[item.id] %}
                {% for talk in talks %}
                    {% for spekaer in talk.speakers %}
                        {% capture names %}{% if names != "" %}{{names}},{% endif %}{{spekaer}}{% endcapture %}
                    {% endfor %}
                {% endfor %}
                {% assign items = names | split:"," %}
                {% assign dataType = "people" %}
                {% assign itemsInRow = 5 %}
                {% assign attachDescription = false %}
                <div class="thumbnails thumbnails-{{itemsInRow}}-in-row">
                    {% include thumbnails.html %}
                </div>
            </div>
        </content>
    </grid>
</section>