sections.page section.terms-and-conditions {
    content {
        .column(12);
        h3 { font-size: 2em; }
        p {
            line-height: 1.25;
            &.note {
                padding: 1.5em 0;
            }
        }
    }
}