@COLOR_TRACK_ALTERNATE: #fedd2c;
@COLOR_TRACK_AMBIENT: #00ffd8;
@COLOR_TRACK_PROCEDUREAL: #00789f;
@COLOR_TRACK_BEHAVIOR: #e31977;
@COLOR_TRACK_ANALYTICS: #ccff00;
@COLOR_TRACK_DECISIONS: #9656d1;
@COLOR_TRACK_SYSTEMS: #5cb214;
@COLOR_TRACK_ANIMATION: #ff0031;
@COLOR_TRACK_COGNITION: #e0e0e0;

section.program-schedule.track-schedule {
    content {
        div.day-wrap { margin: 0; }
        table.header-table { display: none; }
        table.talks-list {
            margin: 0;
            padding: 0;
        }
    }
}

section.program-schedule {
    content {
      .column(12);
        div.day-wrap { 
            margin-bottom: 3em;
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                margin-bottom: 1em;
            }
        }
        table {
            &.clickable:hover {
                cursor: pointer;
                .button-wrap {
                    .button-expand {
                        color: @ORANGE;
                    }
                }
            }
            background-color: @DARK_GREY;
            width: 100%;
            padding-bottom: 3em;
            padding-top: 1em;
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                padding-bottom: 0.5em;
                padding-top: 0em;
                font-size: 0.9em; //make it smaller then text
            }
            h3 {
                @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;
                }
                border-bottom: 1px solid white;
            }

            .button-wrap {
                .column(1);
                padding-top: 2.4em;
                @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { padding-top: 1em; }
                text-align: right;
                .button-expand {
                    color: @WHITE;
                    .triangle(1em);
                    border-bottom: 1.5em solid;
                    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                        .triangle(0.5em); border-bottom: 0.8em solid;
                    }
                    display: inline-block;
                    transition: 0.5s;
                    &:hover { cursor: pointer; }
                    &.expanded { .transform(rotate(180deg)); }
                }
            }
            .titlebar-wrap {
                .column(11);
                .content-wrap {
                    padding: 0 1em;
                    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { padding: 0 0.25em; }
                }
            }

            .legend {
                @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { font-size: 0.8em; }
                p {
                    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { line-height: 1em; }
                }
                .track-wrap {
                    .column(4);
                }

                @marker-height: 2em;
                .marker {
                    width: 1.5em;
                    min-width: 1.5em;
                    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                      width: 1em;
                      min-width: 1em;
                    }
                    height: @marker-height;
                    display: table-cell;
                }
                .track-name {
                    padding-left: 1em;
                    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { padding-left: 0.5em; }
                    display: table-cell;
                    height: @marker-height;
                    vertical-align: middle;
                }

            }

            .track.alternate {
              color: @COLOR_TRACK_ALTERNATE;
              .marker { background-color: @COLOR_TRACK_ALTERNATE; }
            }
            .track.ambient {
              color: @COLOR_TRACK_AMBIENT;
              .marker { background-color: @COLOR_TRACK_AMBIENT; }
            }
            .track.procedural {
              color: @COLOR_TRACK_PROCEDUREAL;
              .marker { background-color: @COLOR_TRACK_PROCEDUREAL; }
            }
            .track.behavior {
              color: @COLOR_TRACK_BEHAVIOR;
              .marker { background-color: @COLOR_TRACK_BEHAVIOR; }
            }
            .track.analytics {
              color: @COLOR_TRACK_ANALYTICS;
              .marker { background-color: @COLOR_TRACK_ANALYTICS; }
            }
            .track.decisions {
              color: @COLOR_TRACK_DECISIONS;
              .marker { background-color: @COLOR_TRACK_DECISIONS; }
            }
            .track.systems {
              color: @COLOR_TRACK_SYSTEMS;
              .marker { background-color: @COLOR_TRACK_SYSTEMS; }
            }
            .track.animation {
              color: @COLOR_TRACK_ANIMATION;
              .marker { background-color: @COLOR_TRACK_ANIMATION; }
            }
            .track.cognition {
              color: @COLOR_TRACK_COGNITION;
              .marker { background-color: @COLOR_TRACK_COGNITION; }
            }

        }

        table.talks-list {
            &.not-initialized { display: none !important; }
            &.not-expanded { display: none; }
            margin-top: 1em;
            padding-bottom: 1em; 
            div.track {
                padding: 0 6em;
                @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { padding: 0 2em; }
                p.speakers {
                    font-size: 1em;
                    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { font-size: 0.7em; }
                    margin-bottom: 0;
                }
                p.title {
                    margin-top: 0;
                    font-weight: bold;
                    a { 
                        color: inherit;
                        text-decoration: none;
                    }
                    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { font-size: 0.8em; }
                }
            }
        }

        .note {
            opacity: 0.6; 
            font-size: 1em;
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { font-size: 0.65em; }
        }

    }
}