section.stream {
    min-height: 0px;
    content {
        .column(12);
        img {   
            width: 100%;
            margin: 1em 0 0 0;
        }
        .all-timers-off {
            color: @ORANGE;
            font-size: 2.5em;
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                font-size: 1em;
            }
        }
        #register {
            color: @ORANGE;
            text-align: center;
            font-size: 2em;
            margin-top: -1em;
            margin-bottom: 1em;
            
            a {
                display: inline-block;
                padding: 4px 8px;
                color: @ORANGE;
                &:hover {
                    color: @DARK_BLUE;
                    background-color: @ORANGE;
                    text-decoration: none;
                }
            }
        }
    }
    .stream-wrap {
        display: none;
        iframe {
            padding-bottom: 2em;
            height: 1200px;
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { height: 800px; }
        }
    }
    &.stream-teaser {
        padding-top: 1em;
        @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { padding-top: 0em; }
        &.first {
            padding-top: 0;
            margin-top: -28px;
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { margin-top: -38px; }
        }
    }
    &.stream-sign-up {
        .stream-wrap {
            iframe {
                padding-bottom: 0em;
            }
        }
    }
}
