sections.page section.tickets {
    .cell() {
        margin-top: @SEMANTIC_GS_MARGIN;
        margin-bottom: @SEMANTIC_GS_MARGIN;
        display: table;
        min-height: 100px;
    }
    content {
        item.ticket-row {
            width: 100%;
            float: left;
            div.name {
                .column(6);
                p.name {}
                p.date {}
                .centered-cell {
                    text-align: left;
                    padding-left: 1em;
                }
                background-color: @DARK_GREY;
                &.invisible { background-color: inherit; }
            }
            div.all-access {
                .column(3);
                text-align: center;
                color: @BLACK;
                background-color: @ORANGE;
            }
            div.conference {
                .column(3);
                text-align: center;
                color: @BLACK;
                background-color: @MID_BLUE;
            }
            &.short { div.table { min-height: 50px; } }
            div.table { .cell(); }
        }
    }
}