section.thumbnails-grid.tracks {
    content {
        div.thumbnails {
            .row(10);
            margin-top: 2em;
            margin-bottom: 0em;
        }
    }
    &.program {
        content {
            div.thumbnails {
                margin-top: 1em;
                margin-bottom: 2em;
            }
        }
    }
}

section.thumbnails-grid.tracks-content {
    content {
        item.talk {
            .column(12);
        }
        .thumbnails item.thumbnail { 
            float: right; 
            h3 { margin-top: 5px; }
        }
    }
}
