sections.page section.venue, sections.page section.getting-to-campus {
    content {
        item.text {
            .column(8);
            line-height: 1.34;
            font-size: 1.2em;
        }
        item.picture {
            .column(4);
            min-height: 13em;
            background-size: cover;
            margin-top: 1em;
        }
    }
}

#venue-map-canvas {
    width: 100%;
    height: @SEPARATOR_HEIGHT;
    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
        height: @SEPARATOR_HEIGHT_SMARTPHONE;
    }
}