sections.page section.venue, sections.page section.getting-to-campus {
    content {
        .column(12);
        //@TODO is copied from stye for tracks page
        //unify maybe?
        p { margin: 0 4em 1em 4em; }
        img {
            width: 100%;
            margin: 2em 0;
        }
    }
}

#venue-map-canvas {
    width: 100%;
    height: @SEPARATOR_HEIGHT;
    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
        height: @SEPARATOR_HEIGHT_SMARTPHONE;
    }
}