<timer-dashboard count-to="2015/07/20 10:00" on-finish="window.location='https://livestream.com/accounts/1422055'">
    <h3> CONFERENCE LIVE STREAM STARTS IN: </h3>
    <clock class="days">
        <div class="table value-wrap-table">
            <span class="centered-cell">
                <p class="value">0</p>
            </span>
        </div>
        <p class="unit">Days</p>
    </clock>
    <clock class="hours">
        <div class="table value-wrap-table">
            <span class="centered-cell">
                <p class="value">0</p>
            </span>
        </div>
        <p class="unit">Hours</p>
    </clock>
    <clock class="minutes">
    <div class="table value-wrap-table">
        <span class="centered-cell">
            <p class="value">0</p>
        </span>
    </div>
    <p class="unit">Minutes</p>
    </clock>
    <clock class="seconds">
        <div class="table value-wrap-table">
            <span class="centered-cell">
                <p class="value">0</p>
            </span>
        </div>
        <p class="unit">Seconds</p>
    </clock>
</timer-dashboard>