<section class="about">
    <canvas id="boids">
    </canvas>
    <grid>
        <content>
            <titles>
                <h2>
                    Artificial Intelligence in Creative Industries<br/>
                    Less Hype, More Results!
                </h2>
                <h3 class="wide">
                    The largest worldwide conference about Artificial Intelligence applications<br/>
                    in interactive media, training &amp; simulations, and digital entertainment.
                    <br/>
                </h3>
                <p class="note bigger"><a href="/tickets">{{site.data.tickets_left.type}} and Day Tickets now available.</a></p>
            </titles>
            <div class="featured-wrap">
                <featured>
                    {% comment %}
                        {% include landing/featured/call-for-papers.html %}
                    {% endcomment %}
                </featured>
            </div>

            <div class="columns">
                <p>The nucl.ai&trade; conference grew out of the Game/AI Conference (in its 7<sup>th</sup> edition) as the largest worldwide event dedicated to its topic.  The event brings together hundreds of professional developers, enthusiasts and practitioners from Europe and beyond!</p>

                <p>In AI, best practices and techniques are often widely applicable to other industries, and our audience has broadened considerably over the years.  This iteration, the conference is switching to a multi-track format with multiple topics running in tandem during the same day.</p>

                <p>This event is perfect for you if you're interested in digging into depth on business-critical subjects, staying up-to-date of upcoming technology, and establishing contacts with other companies in the field.  Join us in Vienna/Austria in July; tickets available from March 16th!</p>
            </div>
        </content>
    </grid>

</section>