<section id="call" class="call-for-presentations">
    <h2>Call for Presentations</h2>
    <grid>
        <content>

            <!-- http://gameaiconf.com/vienna/announcement/call-for-speakers-volunteers/ -->

            <icon class="megaphone"></icon>

            <p>The 7th edition of the conference remains focused on practical applications of AI in creative industries. Less hype, more results!  We welcome submissions for presentations about AI techniques used in commercial products, ranging from independent games to mobile applications or AAA titles and simulations, even interactive exhibits. Post-mortems and technology specific tutorials about R&amp;D are also more than welcome, as well as participation for discussions and panels.  Out of experience, the best sessions at the event try to balanced design and technology &mdash; and both are of course welcome in 2015.</p>
            <br/>

            <p>We're very interested in hearing the following:</p>
            <ul>
                <li>Application- or game-specific presentations going behind the scenes.</li>
                <li>Technology-focused tutorials with reusable practical insights.</li>
            </ul>

            <p>As a speaker, you get the following complimentary benefits:</p>

            <ul>
                <li>Speaker Pass for the conference, complimentary!</li>
                <li>Invitation to the exclusive V.I.P. dinner.</li>
                <li>Membership to AiGameDev.com's PREMIUM content.</li>
            </ul>
            <br/>

            <p>To make your proposal, simply email <u>gameaiconf@googlegroups.com</u> with the session title, description, take-aways and relevant speaking experience.</p>

            <p>After your submission, the first stage is for the organization team to check everything and prepare for the second stage, where the conference organisers and the Advisory Board decide if and how to best present the work at the conference. Assuming your proposal is approved, you'll be informed about the next steps by emails and the team will support you to make sure you deliver a talk you can be proud of.</p>

            <p class="important"><b>Deadline for submissions is March 31st, 2015. Don't miss it!</b></p>
        </content>
    </grid>
</section>