<section class="news-feed">
    <a class="anchor" id="news-feed"></a>
    <h2>Recent News &amp; Announcements</h2>
    <grid>
        <content>
        <table>
            {% for news in site.data.news_feed limit:10 %}
                <tr>
                    {% if news.picture %}
                        <td class="ilustration">
                            <div class="ilustration icon" style="background-image: url('{{ news.picture |  prepend: site.baseurl }}')"></div>
                        </td>
                    {% endif %}
                    <td class="text">
                         <span class="date">{{ news.date | date: "%d %B %Y" }}</span><br/>
                         <a href="{{news.link}}">{{news.title}}</a><br/>
                         <span class="author">&mdash; by {{ news.author }}</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </content>
    </grid>
</section>