<section class="people thumbnails-grid" id="section-people-track-chairs">
    <a class="anchor" id="people"></a>
    <h2 class="titlebar"> People </h2>
    <grid>
        <content>
            <div class="subsection">
                <h3> Track Chairs </h3>
                {% assign filterPeopleType = "track" %}
                {% include people/filtered.html %}
                {% assign dataType = "people" %}
                {% assign itemsInRow = 6 %}
                <div class="thumbnails thumbnails-6-in-row">
                    {% include thumbnails.html %}
                </div>
            </div>
            <div class="subsection">
                <h3> Speakers </h3>
                {% assign filterPeopleType = "speaker" %}
                {% include people/filtered.html %}
                {% assign dataType = "people" %}
                {% assign itemsInRow = 6 %}
                <div class="thumbnails thumbnails-6-in-row" style="clear: both;">
                    {% include thumbnails.html %}
                </div>
            </div>
            <div class="subsection">
                <h3> Advisors </h3>
                {% assign filterPeopleType = "advisory" %}
                {% include people/filtered.html %}
                {% assign dataType = "people" %}
                {% assign itemsInRow = 6 %}
                <div class="thumbnails thumbnails-6-in-row" style="clear: both;">
                    {% include thumbnails.html %}
                </div>
            </div>
            <div class="subsection">
            <h3> Organizers </h3>
                {% assign filterPeopleType = "org" %}
                {% include people/filtered.html %}
                {% assign dataType = "people" %}
                {% assign itemsInRow = 6 %}
                <div class="thumbnails thumbnails-6-in-row" style="clear: both;">
                    {% include thumbnails.html %}
                </div>
            </div>
        </content>
    </grid>
</section>