<section class="people thumbnails-grid" id="section-people">
    <a class="anchor" id="people"></a>
    <grid>
        <content>
            {% assign itemsInRow = 5 %}
            <div class="subsection" id="speakers">
                <h2>Speakers</h2>
                {% assign filterPeopleType = "speaker" %}
                {% include people/filtered.html %}
                {% assign dataType = "people" %}
                <div class="thumbnails thumbnails-{{itemsInRow}}-in-row">
                    {% include thumbnails.html %}
                </div>
            </div>
            <div class="subsection" id="chairs">
                <h2>Co-Organizers &amp; Track Chairs</h2>
                {% assign filterPeopleType = "track" %}
                {% include people/filtered.html %}
                {% assign dataType = "people" %}
                <div class="thumbnails thumbnails-{{itemsInRow}}-in-row">
                    {% include thumbnails.html %}
                </div>
            </div>
            <div class="subsection" id="team">
                <h2>The Team &amp; Advisors</h2>
                {% assign filterPeopleType = "org,advisor" %}
                {% include people/filtered.html %}
                {% assign dataType = "people" %}
                <div class="thumbnails thumbnails-{{itemsInRow}}-in-row">
                    {% include thumbnails.html %}
                </div>
            </div>
        </content>
    </grid>
</section>