<script src="{{ "/js/config.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/consts.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/landing/header.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/landing/splash.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/landing/about.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/landing/topics.js" | prepend: site.baseurl }}"></script>
{% comment %}
    should go to landing too?
{% endcomment %}
<script src="{{ "/js/boids.js" | prepend: site.baseurl }}"></script>