<section class="sponsors inline">
    <a class="anchor" id="sponsors"></a>
    <grid>
        <h2>
            Our Sponsors
        </h2>
        <content>
        {% for item in site.data.sponsors %}
            {% include /landing/sponsor.html %}
        {% endfor %}
        </content>
        <h2>
            Our Partners
        </h2>
        <content>
        {% for item in site.data.partners %}
            {% include /landing/sponsor.html %}
        {% endfor %}
        </content>
    </grid>
</section>
