<item class="sponsor">
    <div class="logo-wrap table">
        {% if item.logo %}
            {% capture logo %}/img/sponsors/{{ item.logo }}{% endcapture %}
        {% else %}
            {% capture logo %}/img/sponsors/{{ item.id }}.png{% endcapture %}
        {% endif %}

        {% if lobby %}
            {% if item.lobby_logo %}
                {% capture logo %}/img/sponsors/{{ item.lobby_logo }}{% endcapture %}
            {% endif %}
        {% endif %}
        <div class="logo-center centered-cell">
            <a style="background-image: url('{{ logo |  prepend: site.baseurl }}')" href="{{ item.homepage }}" target="_blank"></a>
        </div>
    </div>
    {% if item.subtitle %}
    <p class="subtitle"> {{item.subtitle}} </p>
    {% endif %}
</item>