<section class="stream landing-stream">
    <a class="anchor" id="stream"></a>
    <h2>Conference Live Stream</h2>
    <grid>
        <content>
            <div class="stream-data" style="display:none;">
            {% for day in site.data.stream.days %}
                <span class="day" date-start="{{day.start}}" date-finish="{{day.finish}}" > </span>
            {% endfor %}
            </div>
            <a>
                <span class="button">&#9654;</span>
                <br/>
                <span class="announcement live"> Conference Live Stream is Online Now! </span>
                <span class="announcement check"> Check our Conference Live Stream! </span>
            </a>
        </content>
    </grid>
</section>