<section class="testimonials">
    <h2 class="titlebar">
        What past attendees said...
    </h2>
    <grid>
        <content>
        {% for tesimonial in site.data.testimonials %}
            {% if forloop.index <= 2 %}
                <div class="testimonial selected animated flipInX">
            {% else %}
                <div class="testimonial animated flipOutX">
            {% endif %}
                <p class="text">{{ tesimonial.text }}</p>
                <p class="author">{{ tesimonial.author }}</p>
                {% comment %}
                    missing context to show the origin year
                    <p>{{ tesimonial.year }}</p>
                {% endcomment %}
            </div>
        {% endfor %}
        </content>
    </grid>
</section>
