<section class="topics" id="section-topics">
    <h2 class="titlebar">
        Conference &amp; Workshop Topics
    </h2>
    <grid>
        <content>
            {% for topic in site.data.topics %}
                <item class="thumbnail {% cycle 'clear', 'no', 'no' %}">
                    <thumbnail-wrap>
                    {% capture thumbnail %}/img/topics/{{ topic.id }}.jpg{% endcapture %}
                    <thumbnail class="{% cycle 'left', 'middle', 'right' %}" name="{{topic.title}}" style="background-image: url('{{ thumbnail |  prepend: site.baseurl }}')">
                    </thumbnail>
                    </thumbnail-wrap>
                    <p class="thumbnail-title" name="{{topic.title}}"><b>{{ topic.title }}</b></p>
                </item>

                {% comment %}
                <!--
                    Add three description for three already printed titles 
                -->
                {% endcomment %}
                {% capture modulo %}{{ forloop.index | modulo:3 }}{% endcapture %}
                {% assign topicsIndex = forloop.index %}
                {% assign lastRow = forloop.last %}

                {% if modulo == '0' %}
                    {% for num in (1...3) %}
                        {% assign descIndex = topicsIndex | minus:4 | plus:forloop.index %}
                        {% assign t = site.data.topics[descIndex] %}
                        {% if lastRow %}
                            <item class="description last-row" name="{{t.title}}">
                        {% else %}
                            <item class="description" name="{{t.title}}">
                        {% endif %}
                        <h2 class="thumbnail-title {% cycle 'left', 'middle', 'right' %}">{{ t.title }}</h2>
                        <p>
                            {{ t.content }}
                        </p>

                        <h3>Keywords</h3>
                        <ul>
                           {% for kw in t.keywords %} 
                           <li>{{kw}}</li>
                           {% endfor %}
                        </ul>

                        <p class="note"><u>Photo Credit</u>: <a href="{{ t.credit.url }}">{{ t.credit.title }}</a></p>
                        </item>
                    {% endfor %}
                {% endif %}

            {% endfor %}
        </content>
    </grid>
</section>